flows.json
[
    {
        "id": "f51feb57.6cd738",
        "type": "tab",
        "label": "BoM Scraper",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ee6c3ad0.573538",
        "type": "tab",
        "label": "AWRA-L",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c278495.e2b9eb",
        "type": "tab",
        "label": "JASMIN",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3ead8668.6bfe7a",
        "type": "tab",
        "label": "Yebra",
        "disabled": false,
        "info": ""
    },
    {
        "id": "27de4edd.91f382",
        "type": "tab",
        "label": "DFMC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6debec4f.057b04",
        "type": "tab",
        "label": "LFMC (Nolan)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fa05f41.e5ec6",
        "type": "tab",
        "label": "Temporal Data Availability",
        "disabled": false,
        "info": ""
    },
    {
        "id": "59601007.fe581",
        "type": "tab",
        "label": "Error Reporting API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b36fe01.5f7492",
        "type": "tab",
        "label": "Query Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d00e8f9b.7ce64",
        "type": "tab",
        "label": "Example Parallel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "50239105.fa614",
        "type": "tab",
        "label": "Upload Script",
        "disabled": false,
        "info": "To be replaced by the HUG API Server and its associated metadata from the included Models in the Model Register."
    },
    {
        "id": "671e12d5.6bd4fc",
        "type": "mongodb2",
        "z": "",
        "uri": "mongodb://nosql:27017/",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "78ac3a84.edb3d4",
        "type": "redis-config",
        "z": "",
        "host": "{{REDIS_HOST}}",
        "port": "{{REDIS_PORT}}",
        "dbase": "{{REDIS_DB}}",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "5f2dd4b6.73f8ec",
        "type": "websocket-client",
        "z": "",
        "path": "ws://flower:5555/api/task/events/task-succeeded/",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "c6396aca.851408",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/completed",
        "wholemsg": "false"
    },
    {
        "id": "71ec623a.22c3dc",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "Filter for GZ",
        "func": "msg.payload = \"cd \" + msg.directory + \" && ls | grep .gz | parallel --gnu -j6 'gzip -d {}'\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1790,
        "y": 540,
        "wires": [
            [
                "6c64fed7.a89b6"
            ]
        ]
    },
    {
        "id": "c56ad8c8.895d38",
        "type": "debug",
        "z": "59601007.fe581",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "be37f377.f4312",
        "type": "http in",
        "z": "59601007.fe581",
        "name": "",
        "url": "/errorlogger",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "c56ad8c8.895d38",
                "e6c389cf.9c2938",
                "e7759931.e7b368"
            ]
        ]
    },
    {
        "id": "785b2f88.80508",
        "type": "e-mail",
        "z": "59601007.fe581",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "",
        "dname": "",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "20de281a.8bee08",
        "type": "http in",
        "z": "59601007.fe581",
        "name": "",
        "url": "/errorlogger",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "c56ad8c8.895d38",
                "e6c389cf.9c2938",
                "e7759931.e7b368"
            ]
        ]
    },
    {
        "id": "737949a4.9b09b8",
        "type": "inject",
        "z": "59601007.fe581",
        "name": "TEST",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "63254b7c.028794"
            ]
        ]
    },
    {
        "id": "e6c389cf.9c2938",
        "type": "http response",
        "z": "59601007.fe581",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 571,
        "y": 42,
        "wires": []
    },
    {
        "id": "124e4a22.2672b6",
        "type": "http request",
        "z": "59601007.fe581",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://localhost:1880/errorlogger",
        "tls": "",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "e7759931.e7b368"
            ]
        ]
    },
    {
        "id": "63254b7c.028794",
        "type": "function",
        "z": "59601007.fe581",
        "name": "",
        "func": "msg.payload = {err: \"Error was:↵'var_name'\", code: 500, time_of_report: \"Monday, May 28, 2018 2:37 PM\", metadata: \"LFMC API v0.6.9\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "124e4a22.2672b6"
            ]
        ]
    },
    {
        "id": "e8c6bcdd.f3143",
        "type": "http in",
        "z": "59601007.fe581",
        "name": "",
        "url": "/github",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "c56ad8c8.895d38",
                "e6c389cf.9c2938",
                "e7759931.e7b368"
            ]
        ]
    },
    {
        "id": "f089465e.aa9848",
        "type": "http in",
        "z": "d00e8f9b.7ce64",
        "name": "",
        "url": "/parallel",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "f468fa9f.5ee938"
            ]
        ]
    },
    {
        "id": "f468fa9f.5ee938",
        "type": "change",
        "z": "d00e8f9b.7ce64",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"httpbin\":\"http://httpbin.org/get\",\"anything\":\"http://httpbin.org/anything/get\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 362,
        "y": 139,
        "wires": [
            [
                "e9da59ed.bd2f58"
            ]
        ]
    },
    {
        "id": "e9da59ed.bd2f58",
        "type": "split",
        "z": "d00e8f9b.7ce64",
        "name": "",
        "splt": "\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "4612f594.6e5e7c"
            ]
        ]
    },
    {
        "id": "4612f594.6e5e7c",
        "type": "switch",
        "z": "d00e8f9b.7ce64",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "httpbin",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "anything",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 661,
        "y": 139,
        "wires": [
            [
                "9a42e467.e561f8"
            ],
            [
                "560aae05.bea08"
            ]
        ]
    },
    {
        "id": "9a42e467.e561f8",
        "type": "http request",
        "z": "d00e8f9b.7ce64",
        "name": "REST Service 1",
        "method": "GET",
        "ret": "obj",
        "url": "{{{payload}}}",
        "tls": "",
        "x": 839,
        "y": 98,
        "wires": [
            [
                "5c393943.966308"
            ]
        ]
    },
    {
        "id": "560aae05.bea08",
        "type": "http request",
        "z": "d00e8f9b.7ce64",
        "name": "REST Service 2",
        "method": "GET",
        "ret": "obj",
        "url": "http://httpbin.org/anything/get",
        "tls": "",
        "x": 839.5,
        "y": 180,
        "wires": [
            [
                "5c393943.966308"
            ]
        ]
    },
    {
        "id": "5c393943.966308",
        "type": "join",
        "z": "d00e8f9b.7ce64",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "x": 1021,
        "y": 134,
        "wires": [
            [
                "b8a64f55.c6905",
                "baab402d.b2574"
            ]
        ]
    },
    {
        "id": "b8a64f55.c6905",
        "type": "http response",
        "z": "d00e8f9b.7ce64",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1167.5,
        "y": 134,
        "wires": []
    },
    {
        "id": "f3527d21.601e1",
        "type": "websocket in",
        "z": "1b36fe01.5f7492",
        "name": "",
        "server": "",
        "client": "5f2dd4b6.73f8ec",
        "x": 220,
        "y": 40,
        "wires": [
            [
                "6243a200.758fc"
            ]
        ]
    },
    {
        "id": "3a05cd66.8274f2",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "10e3a28.49bfe5e",
        "type": "http in",
        "z": "1b36fe01.5f7492",
        "name": "",
        "url": "/submit",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "52c890a9.8fb37"
            ]
        ]
    },
    {
        "id": "96ef7d6a.3c788",
        "type": "switch",
        "z": "1b36fe01.5f7492",
        "name": "",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SUCCESS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PENDING",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STARTED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RETRY",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "REVOKED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "FAILURE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 890,
        "y": 180,
        "wires": [
            [
                "5b138450.7340cc",
                "796f1b06.08bd74"
            ],
            [
                "f3324e1.05425b"
            ],
            [
                "f3324e1.05425b"
            ],
            [
                "f3324e1.05425b"
            ],
            [
                "359acd71.d88782"
            ],
            [
                "359acd71.d88782"
            ]
        ]
    },
    {
        "id": "69819ecb.953c2",
        "type": "delay",
        "z": "1b36fe01.5f7492",
        "name": "",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "100",
        "randomLast": "300",
        "randomUnits": "milliseconds",
        "drop": false,
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "3c11d78b.524bd8"
            ]
        ]
    },
    {
        "id": "54d16091.cf2ef",
        "type": "switch",
        "z": "1b36fe01.5f7492",
        "name": "MAX RETRIES",
        "property": "retries",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 920,
        "y": 360,
        "wires": [
            [
                "359acd71.d88782"
            ],
            [
                "77f22e8f.6ac9d"
            ]
        ]
    },
    {
        "id": "27e7d33d.72466c",
        "type": "join",
        "z": "1b36fe01.5f7492",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1530,
        "y": 120,
        "wires": [
            [
                "ee9aeb35.9fcf38"
            ]
        ]
    },
    {
        "id": "6243a200.758fc",
        "type": "json",
        "z": "1b36fe01.5f7492",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "3a05cd66.8274f2",
                "d7c2da36.611d98"
            ]
        ]
    },
    {
        "id": "f3324e1.05425b",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "DELAY & UUID",
        "func": "if (msg.payload.id) {\n    msg.payload.uuid = msg.payload.id;\n}\n\nif (msg.delay) {\n    msg.delay += 1;\n} else {\n    msg.delay = 2;\n}\n\nif(msg.retries) {\n    msg.retries += 1;\n} else {\n    msg.retries = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 160,
        "wires": [
            [
                "69819ecb.953c2",
                "c97500af.26ae"
            ]
        ]
    },
    {
        "id": "796f1b06.08bd74",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "TOPIC",
        "func": "msg.topic = 'progress-' + msg.payload.uuid;\n\nmsg.payload.result = msg.payload.result.replace(/\"/g, '\\\"').replace(/'/g, '');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "cebc3262.dfd74"
            ]
        ]
    },
    {
        "id": "cebc3262.dfd74",
        "type": "json",
        "z": "1b36fe01.5f7492",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1290,
        "y": 120,
        "wires": [
            [
                "3eac38ad.598d18"
            ]
        ]
    },
    {
        "id": "3eac38ad.598d18",
        "type": "json",
        "z": "1b36fe01.5f7492",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1410,
        "y": 120,
        "wires": [
            [
                "27e7d33d.72466c"
            ]
        ]
    },
    {
        "id": "d7c2da36.611d98",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "",
        "func": "msg.topic = 'progress-' + msg.payload.uuid;\nmsg.payload = msg.payload.result;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "c6449345.89c7b"
            ]
        ]
    },
    {
        "id": "c6449345.89c7b",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "c0e1dfcb.0203e",
        "type": "inject",
        "z": "1b36fe01.5f7492",
        "name": "Example",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "c1cbb5db.d64928"
            ]
        ]
    },
    {
        "id": "c1cbb5db.d64928",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "",
        "func": "msg.payload= {\n    \"geo_json\": {\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {},\n      \"geometry\": {\n        \"type\": \"Polygon\",\n        \"coordinates\": [\n          [\n            [\n              148.42529296875,\n              -37.42252593456306\n            ],\n            [\n              148.68896484375,\n              -37.42252593456306\n            ],\n            [\n              148.68896484375,\n              -37.256566086115214\n            ],\n            [\n              148.42529296875,\n              -37.256566086115214\n            ],\n            [\n              148.42529296875,\n              -37.42252593456306\n            ]\n          ]\n        ]\n      }\n    }\n  ]\n},\n    \"start\":\"2018-11-20\",\n    \"finish\": \"2018-11-22\",\n    \"hashkey\":\"test\",\n    \"models\": \"DFMC,AWRA-L-R\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "52c890a9.8fb37"
            ]
        ]
    },
    {
        "id": "ff2df536.1c6138",
        "type": "http request",
        "z": "1b36fe01.5f7492",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "81ae25a6.830848"
            ]
        ]
    },
    {
        "id": "52c890a9.8fb37",
        "type": "http request",
        "z": "1b36fe01.5f7492",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "http://api:8002/v1/submit_query.json",
        "tls": "",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "9718be8b.5d1f2",
                "a3018e4b.8b367",
                "10b6f304.cc572d"
            ]
        ]
    },
    {
        "id": "9718be8b.5d1f2",
        "type": "split",
        "z": "1b36fe01.5f7492",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "uuid",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "285a4e9a.8d9b22"
            ]
        ]
    },
    {
        "id": "bf927796.9af0b8",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 40,
        "wires": []
    },
    {
        "id": "285a4e9a.8d9b22",
        "type": "json",
        "z": "1b36fe01.5f7492",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "77f22e8f.6ac9d"
            ]
        ]
    },
    {
        "id": "200eb4e9.cdd8dc",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "77f22e8f.6ac9d",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "FLOWER TASK INFO",
        "func": "msg.url = \"http://flower:5555/api/task/info/\" + msg.payload.uuid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "e531d660.ec45c8"
            ]
        ]
    },
    {
        "id": "81ae25a6.830848",
        "type": "json",
        "z": "1b36fe01.5f7492",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "bf927796.9af0b8",
                "96ef7d6a.3c788"
            ]
        ]
    },
    {
        "id": "e531d660.ec45c8",
        "type": "delay",
        "z": "1b36fe01.5f7492",
        "name": "",
        "pauseType": "delay",
        "timeout": "1500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "ff2df536.1c6138"
            ]
        ]
    },
    {
        "id": "3839e9c0.c24836",
        "type": "http request",
        "z": "1b36fe01.5f7492",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 650,
        "y": 520,
        "wires": [
            [
                "4a261902.d35258"
            ]
        ]
    },
    {
        "id": "2115b45e.b33c8c",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "RESULT URL",
        "func": "msg.url = \"http://api:8002/v1/result.json\";\n\nif (msg.payload.id) {\n    msg.payload.uuid = msg.payload.id;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "3839e9c0.c24836"
            ]
        ]
    },
    {
        "id": "ee9aeb35.9fcf38",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1670,
        "y": 120,
        "wires": []
    },
    {
        "id": "c97500af.26ae",
        "type": "redis-out",
        "z": "1b36fe01.5f7492",
        "server": "78ac3a84.edb3d4",
        "command": "publish",
        "name": "",
        "topic": "progress",
        "x": 1370,
        "y": 160,
        "wires": []
    },
    {
        "id": "297542cc.1375be",
        "type": "redis-in",
        "z": "1b36fe01.5f7492",
        "server": "78ac3a84.edb3d4",
        "command": "subscribe",
        "name": "",
        "topic": "progress",
        "timeout": 0,
        "x": 80,
        "y": 560,
        "wires": [
            [
                "feb67bdf.64e578"
            ]
        ]
    },
    {
        "id": "5b138450.7340cc",
        "type": "redis-out",
        "z": "1b36fe01.5f7492",
        "server": "78ac3a84.edb3d4",
        "command": "publish",
        "name": "",
        "topic": "progress",
        "x": 1370,
        "y": 20,
        "wires": []
    },
    {
        "id": "feb67bdf.64e578",
        "type": "switch",
        "z": "1b36fe01.5f7492",
        "name": "",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SUCCESS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "2115b45e.b33c8c"
            ],
            [
                "200eb4e9.cdd8dc"
            ]
        ]
    },
    {
        "id": "7e7b84a.d0f9e7c",
        "type": "redis-out",
        "z": "1b36fe01.5f7492",
        "server": "78ac3a84.edb3d4",
        "command": "publish",
        "name": "",
        "topic": "progress",
        "x": 1370,
        "y": 300,
        "wires": []
    },
    {
        "id": "359acd71.d88782",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "UUID",
        "func": "if (msg.payload.id) {\n    msg.payload.uuid = msg.payload.id;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 300,
        "wires": [
            [
                "7e7b84a.d0f9e7c"
            ]
        ]
    },
    {
        "id": "275ceee0.ec7862",
        "type": "http in",
        "z": "1b36fe01.5f7492",
        "name": "",
        "url": "/revoke",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 680,
        "wires": [
            [
                "71913b1c.9bb944"
            ]
        ]
    },
    {
        "id": "4cf7e31c.32e89c",
        "type": "http in",
        "z": "1b36fe01.5f7492",
        "name": "",
        "url": "/abort",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 720,
        "wires": [
            [
                "b8ed3f02.fad08",
                "f79bf8ae.c09868"
            ]
        ]
    },
    {
        "id": "ff7c6a82.83cff8",
        "type": "http request",
        "z": "1b36fe01.5f7492",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "82aaf483.7260e8"
            ]
        ]
    },
    {
        "id": "41bd74b2.1e628c",
        "type": "http request",
        "z": "1b36fe01.5f7492",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 850,
        "y": 720,
        "wires": [
            [
                "ede9587e.1a11b8"
            ]
        ]
    },
    {
        "id": "71913b1c.9bb944",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "",
        "func": "msg.url = \"http://flower:5555/api/task/revoke/\" + msg.payload.uuid;\nmsg.payload = {\"terminate\": \"true\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 680,
        "wires": [
            [
                "ff7c6a82.83cff8"
            ]
        ]
    },
    {
        "id": "b8ed3f02.fad08",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "",
        "func": "msg.url = \"http://flower:5555/api/task/abort/\" + msg.payload.uuid;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 720,
        "wires": [
            [
                "41bd74b2.1e628c"
            ]
        ]
    },
    {
        "id": "82aaf483.7260e8",
        "type": "http response",
        "z": "1b36fe01.5f7492",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 680,
        "wires": []
    },
    {
        "id": "ede9587e.1a11b8",
        "type": "http response",
        "z": "1b36fe01.5f7492",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 720,
        "wires": []
    },
    {
        "id": "63799701.db4558",
        "type": "http in",
        "z": "1b36fe01.5f7492",
        "name": "",
        "url": "/result",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "27fca062.4f41d",
                "f79bf8ae.c09868"
            ]
        ]
    },
    {
        "id": "27fca062.4f41d",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "",
        "func": "msg.url = \"http://api:8002/v1/result.json\";\n\nif (msg.payload.id) {\n    msg.payload.uuid = msg.payload.id;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 760,
        "wires": [
            [
                "1fddd7c5.06c168",
                "72a23d85.37f2a4"
            ]
        ]
    },
    {
        "id": "1fddd7c5.06c168",
        "type": "http request",
        "z": "1b36fe01.5f7492",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 850,
        "y": 760,
        "wires": [
            [
                "e457cad2.ec01e8",
                "483b5867.44b388"
            ]
        ]
    },
    {
        "id": "483b5867.44b388",
        "type": "http response",
        "z": "1b36fe01.5f7492",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "394823b5.bf0e3c",
        "type": "http in",
        "z": "1b36fe01.5f7492",
        "name": "",
        "url": "/progress",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "484d695c.2fdc48"
            ]
        ]
    },
    {
        "id": "a3018e4b.8b367",
        "type": "http response",
        "z": "1b36fe01.5f7492",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "10b6f304.cc572d",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "484d695c.2fdc48",
        "type": "function",
        "z": "1b36fe01.5f7492",
        "name": "",
        "func": "msg.url = \"http://flower:5555/api/task/info/\" + msg.payload.uuid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 800,
        "wires": [
            [
                "451d03ca.9ba6ac"
            ]
        ]
    },
    {
        "id": "451d03ca.9ba6ac",
        "type": "http request",
        "z": "1b36fe01.5f7492",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 850,
        "y": 800,
        "wires": [
            [
                "2d38a002.4242d"
            ]
        ]
    },
    {
        "id": "2d38a002.4242d",
        "type": "http response",
        "z": "1b36fe01.5f7492",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 800,
        "wires": []
    },
    {
        "id": "bfd147b8.1885f8",
        "type": "inject",
        "z": "1b36fe01.5f7492",
        "name": "Example",
        "topic": "",
        "payload": "{\"uuid\":\"51bc10c2-9e25-4ca7-a6e8-1104f7ae44e3\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 860,
        "wires": [
            [
                "9b24ed9d.92dd3"
            ]
        ]
    },
    {
        "id": "d8837e37.f1b07",
        "type": "http in",
        "z": "1b36fe01.5f7492",
        "name": "",
        "url": "/submit_query.json",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "52c890a9.8fb37"
            ]
        ]
    },
    {
        "id": "4a261902.d35258",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 520,
        "wires": []
    },
    {
        "id": "e457cad2.ec01e8",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1170,
        "y": 800,
        "wires": []
    },
    {
        "id": "9b24ed9d.92dd3",
        "type": "http request",
        "z": "1b36fe01.5f7492",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "http://pipeline:1880/result",
        "tls": "",
        "x": 430,
        "y": 860,
        "wires": [
            [
                "f79bf8ae.c09868"
            ]
        ]
    },
    {
        "id": "f79bf8ae.c09868",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 880,
        "wires": []
    },
    {
        "id": "72a23d85.37f2a4",
        "type": "debug",
        "z": "1b36fe01.5f7492",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1170,
        "y": 860,
        "wires": []
    },
    {
        "id": "c26ee8fb.1d3a68",
        "type": "inject",
        "z": "4fa05f41.e5ec6",
        "name": "TemporalAvailabilty of Layer",
        "topic": "",
        "payload": "{\"name\":\"DFMC_2018\",\"href\":\"test\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "317518be.8ee1f8"
            ]
        ]
    },
    {
        "id": "25ee8e12.48fa72",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "func": "msg.url = \"http://geoserver:8080/geoserver/gwc/service/wmts?REQUEST=DescribeDomains&Version=1.0.0&TileMatrixSet=EPSG:4326&Layer=lfmc:\" + msg.payload.name;\nmsg.topic = msg.payload.name;\nmsg.href = msg.payload.href;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "2829f5ba.8ce16a",
                "388a56d9.7ca54a"
            ]
        ]
    },
    {
        "id": "2829f5ba.8ce16a",
        "type": "http request",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "c8d21636.bd4058"
            ]
        ]
    },
    {
        "id": "c8d21636.bd4058",
        "type": "xml",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "3f4bde6a.81b2f2",
                "921d50e0.9bee2"
            ]
        ]
    },
    {
        "id": "3f4bde6a.81b2f2",
        "type": "json",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "f85876f6.4adf48"
            ]
        ]
    },
    {
        "id": "f85876f6.4adf48",
        "type": "json",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 710,
        "y": 400,
        "wires": [
            [
                "caeacce2.14a67",
                "e8eca46a.661cc8"
            ]
        ]
    },
    {
        "id": "d651ae7a.48668",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "func": "msg.payload = msg.payload.Domain[0].split(\",\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "914c3acc.e829d8"
            ]
        ]
    },
    {
        "id": "9a633dec.fa4f3",
        "type": "http request",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 790,
        "y": 100,
        "wires": [
            [
                "18f4d42.5ba6f2c",
                "37bdb49e.a1972c"
            ]
        ]
    },
    {
        "id": "6c6a5d6d.87a334",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "func": "msg.url = msg.payload.href;\nmsg.layerGroup = msg.payload.name;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "9a633dec.fa4f3"
            ]
        ]
    },
    {
        "id": "18f4d42.5ba6f2c",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "func": "msg.payload = msg.payload.layerGroup.publishables.published;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 100,
        "wires": [
            [
                "4af5bb90.896074"
            ]
        ]
    },
    {
        "id": "1be7c58c.0f5dfa",
        "type": "split",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "published_layers",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "fca8b286.afa01"
            ]
        ]
    },
    {
        "id": "ff8ac81c.d26648",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "4af5bb90.896074",
        "type": "switch",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "1be7c58c.0f5dfa"
            ],
            [
                "883bda8b.dbef98"
            ]
        ]
    },
    {
        "id": "a87ee443.206a58",
        "type": "inject",
        "z": "d00e8f9b.7ce64",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "f468fa9f.5ee938"
            ]
        ]
    },
    {
        "id": "baab402d.b2574",
        "type": "debug",
        "z": "d00e8f9b.7ce64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1190,
        "y": 200,
        "wires": []
    },
    {
        "id": "883bda8b.dbef98",
        "type": "split",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "layers",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "ff8ac81c.d26648",
                "25ee8e12.48fa72"
            ]
        ]
    },
    {
        "id": "caeacce2.14a67",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "1487e851.032a18",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "Workaround for Temporal Range",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1910,
        "y": 440,
        "wires": []
    },
    {
        "id": "388a56d9.7ca54a",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "921d50e0.9bee2",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "3c421fd.1ef25e",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "Found Times",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "e8eca46a.661cc8",
        "type": "switch",
        "z": "4fa05f41.e5ec6",
        "name": "Has Dimensions?",
        "property": "payload.Domains.DimensionDomain",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "ce261ca.d4876e"
            ],
            [
                "f0e6f768.4593c8"
            ]
        ]
    },
    {
        "id": "f0e6f768.4593c8",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "No Dimensions!",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 180,
        "y": 560,
        "wires": []
    },
    {
        "id": "edc40b69.60d7b8",
        "type": "split",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "domain",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "99fd68b2.6e8c08"
            ]
        ]
    },
    {
        "id": "ce261ca.d4876e",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "Get Dimensions",
        "func": "msg.payload = msg.payload.Domains.DimensionDomain;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 480,
        "wires": [
            [
                "edc40b69.60d7b8"
            ]
        ]
    },
    {
        "id": "99fd68b2.6e8c08",
        "type": "switch",
        "z": "4fa05f41.e5ec6",
        "name": "Is Time Dimension?",
        "property": "payload[\"ows:Identifier\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "time",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "3c421fd.1ef25e",
                "c320306e.eacd2"
            ],
            [
                "39422acc.be5e26"
            ]
        ]
    },
    {
        "id": "39422acc.be5e26",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "Not a Time Dimension",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 960,
        "y": 500,
        "wires": []
    },
    {
        "id": "914c3acc.e829d8",
        "type": "split",
        "z": "4fa05f41.e5ec6",
        "name": "Extract Timestamps",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "timestamp",
        "x": 1290,
        "y": 480,
        "wires": [
            [
                "74c7d6b3.8f40b8",
                "41d42005.6621f"
            ]
        ]
    },
    {
        "id": "74c7d6b3.8f40b8",
        "type": "switch",
        "z": "4fa05f41.e5ec6",
        "name": "Is valid UTC? or is it a Range?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\\.[0-9]+)?(Z)?$",
                "vt": "str",
                "case": true
            },
            {
                "t": "cont",
                "v": "--",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1550,
        "y": 440,
        "wires": [
            [
                "64f0cbbf.093c24",
                "bb1b381c.2062c8"
            ],
            [
                "f870d07.ebc313",
                "1487e851.032a18"
            ],
            [
                "ade5f0e4.b50d7"
            ]
        ]
    },
    {
        "id": "64f0cbbf.093c24",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "Valid UTC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1840,
        "y": 360,
        "wires": []
    },
    {
        "id": "c320306e.eacd2",
        "type": "switch",
        "z": "4fa05f41.e5ec6",
        "name": "Complete Year? (ie., 365 days)",
        "property": "payload.Size[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "365",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 460,
        "wires": [
            [
                "ffa79146.6c919",
                "3bdab4d4.fdbc4c"
            ],
            [
                "d651ae7a.48668"
            ]
        ]
    },
    {
        "id": "ffa79146.6c919",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1270,
        "y": 360,
        "wires": []
    },
    {
        "id": "41d42005.6621f",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "Individual Timestamps",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1540,
        "y": 500,
        "wires": []
    },
    {
        "id": "f870d07.ebc313",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "Formatting Result",
        "func": "var ranged = msg.payload.split(\"--\");\n\ndaysBetween = function( date1, date2 ) {\n  //Get 1 day in milliseconds\n  var one_day=1000*60*60*24;\n\n  // Convert both dates to milliseconds\n  var date1_ms = date1.getTime();\n  var date2_ms = date2.getTime();\n\n  // Calculate the difference in milliseconds\n  var difference_ms = date2_ms - date1_ms;\n    \n  // Convert back to days and return\n  return Math.round(difference_ms/one_day); \n}\nvar d1 = new Date(ranged[0]);\nvar d2 = new Date(ranged[1]);\n\nvar size = daysBetween(d1, d2);\n\nmsg.payload = {\n    \"name\": ranged[0],\n    \"value\": size\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1870,
        "y": 500,
        "wires": [
            [
                "ac3170cb.4f532",
                "c4cc0774.ba4738"
            ]
        ]
    },
    {
        "id": "ac3170cb.4f532",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2090,
        "y": 500,
        "wires": []
    },
    {
        "id": "2eb26010.6f159",
        "type": "http in",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "url": "/temporal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "ba639340.1321c"
            ]
        ]
    },
    {
        "id": "ba639340.1321c",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "func": "msg.payload = {\n    \"name\": msg.payload.model,\n    \"href\":\"http://geoserver:8080/geoserver/rest/workspaces/lfmc/layergroups/\"+ msg.payload.model +\".json\"\n}\n\nmsg.layerGroup = msg.payload.model;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "2307e167.9d195e",
                "6c6a5d6d.87a334"
            ]
        ]
    },
    {
        "id": "2307e167.9d195e",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "72fd89ac.becb48",
        "type": "http response",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2550,
        "y": 420,
        "wires": []
    },
    {
        "id": "bb1b381c.2062c8",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "func": "var d = new Date(msg.payload);\n\n\n\nmsg.payload = {\n    \"name\": d.toLocaleDateString(\"en-AU\"),\n    \"value\": 1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1830,
        "y": 400,
        "wires": [
            [
                "c4cc0774.ba4738"
            ]
        ]
    },
    {
        "id": "c4cc0774.ba4738",
        "type": "join",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2030,
        "y": 340,
        "wires": [
            [
                "dd71e8aa.cb9158",
                "cbab180c.6ae888"
            ]
        ]
    },
    {
        "id": "aeaccc62.ea483",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2590,
        "y": 260,
        "wires": []
    },
    {
        "id": "317518be.8ee1f8",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "func": "msg.payload = {\n    \"model\": \"DFMC\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 40,
        "wires": [
            [
                "ba639340.1321c"
            ]
        ]
    },
    {
        "id": "572a1c6.116b9e4",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "func": "function formatDate(date) {\n    var d = new Date(date),\n        month = '' + (d.getMonth() + 1),\n        day = '' + d.getDate(),\n        year = d.getFullYear();\n\n    if (month.length < 2) month = '0' + month;\n    if (day.length < 2) day = '0' + day;\n\n    return [year, month, day].join('-');\n}\n\nmsg.topic = msg.layerGroup;\n\nvar series = [];\n\nfor (var k of Object.keys(msg.payload)) {\n    for (var q of msg.payload[k]) {\n        var d = new Date(q.name);\n        series.push({\"name\": formatDate(d), \"value\": q.value});\n    }\n}\n\nmsg.payload = {\n    \"name\": msg.layerGroup,\n    \"series\": series\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2350,
        "y": 340,
        "wires": [
            [
                "72fd89ac.becb48",
                "aeaccc62.ea483"
            ]
        ]
    },
    {
        "id": "dd71e8aa.cb9158",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2150,
        "y": 260,
        "wires": []
    },
    {
        "id": "3bdab4d4.fdbc4c",
        "type": "function",
        "z": "4fa05f41.e5ec6",
        "name": "Year to range",
        "func": "var all = msg.payload.Domain[0].split(\",\");\n\nmsg.payload = all[0] + \"--\" + all[all.length -1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 400,
        "wires": [
            [
                "74c7d6b3.8f40b8"
            ]
        ]
    },
    {
        "id": "cbab180c.6ae888",
        "type": "join",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2190,
        "y": 340,
        "wires": [
            [
                "572a1c6.116b9e4",
                "fddb0cc1.c0e62"
            ]
        ]
    },
    {
        "id": "fddb0cc1.c0e62",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2410,
        "y": 260,
        "wires": []
    },
    {
        "id": "704476f8.ea21b8",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "fca8b286.afa01",
        "type": "join",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "704476f8.ea21b8",
                "883bda8b.dbef98"
            ]
        ]
    },
    {
        "id": "ade5f0e4.b50d7",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "INVALID DATE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1840,
        "y": 600,
        "wires": []
    },
    {
        "id": "37bdb49e.a1972c",
        "type": "debug",
        "z": "4fa05f41.e5ec6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 40,
        "wires": []
    },
    {
        "id": "e483b484.535278",
        "type": "function",
        "z": "ee6c3ad0.573538",
        "name": "s0",
        "func": "var year = new Date(msg.payload).getFullYear().toString();\nmsg.url = \"http://www.bom.gov.au/jsp/awra/thredds/fileServer/AWRACMS/values/day/s0_pct_\"+year+\".nc\";\nmsg.filename = \"/mnt/awra_dir/s0_pct_\"+year+\"_Actual_day.nc\"\n// -N --timestamping\n// -O --output-document=file\n// -q --quiet\nmsg.payload = \"wget -q \" + msg.url + \" -O \" + msg.filename+ \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "e372a7d9.2803e8"
            ]
        ]
    },
    {
        "id": "ecd19fd6.ec8b3",
        "type": "function",
        "z": "ee6c3ad0.573538",
        "name": "ss",
        "func": "var year = new Date(msg.payload).getFullYear().toString();\nmsg.url = \"http://www.bom.gov.au/jsp/awra/thredds/fileServer/AWRACMS/values/day/ss_pct_\"+year+\".nc\";\nmsg.filename = \"/mnt/awra_dir/ss_pct_\"+year+\"_Actual_day.nc\"\n// -N --timestamping\n// -O --output-document=file\n// -q --quiet\nmsg.payload = \"wget -q \" + msg.url + \" -O \" + msg.filename+ \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "9e8a028f.60ae9"
            ]
        ]
    },
    {
        "id": "25ae85a9.fe872a",
        "type": "function",
        "z": "ee6c3ad0.573538",
        "name": "sm",
        "func": "var year = new Date(msg.payload).getFullYear().toString();\nmsg.url = \"http://www.bom.gov.au/jsp/awra/thredds/fileServer/AWRACMS/values/day/sm_pct_\"+year+\".nc\";\nmsg.filename = \"/mnt/awra_dir/sm_pct_\"+year+\"_Actual_day.nc\"\n\n// -N --timestamping\n// -O --output-document=file\n// -q --quiet\nmsg.payload = \"wget -q \" + msg.url + \" -O \" + msg.filename+ \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "b78d5801.f16568"
            ]
        ]
    },
    {
        "id": "ba80588.00359a8",
        "type": "function",
        "z": "3ead8668.6bfe7a",
        "name": "",
        "func": "var year = new Date(msg.payload).getFullYear().toString();\nmsg.url = \"http://dapds00.nci.org.au/thredds/fileServer/ub8/au/FMC/c6/mosaics/fmc_c6_\"+year+\".nc\";\nmsg.filename = \"fmc_c6_\" + year + \".nc\";\n\nmsg.payload = \"cd /mnt/fuel/Yebra/c6/ && wget -nc -c \" + msg.url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "dfd8f329.25c1f"
            ]
        ]
    },
    {
        "id": "55e9bf9b.82ad",
        "type": "inject",
        "z": "3ead8668.6bfe7a",
        "name": "Every 4 days",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "345600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "ba80588.00359a8"
            ]
        ]
    },
    {
        "id": "dce43fee.730c4",
        "type": "debug",
        "z": "3ead8668.6bfe7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "dfd8f329.25c1f",
        "type": "exec",
        "z": "3ead8668.6bfe7a",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "dce43fee.730c4"
            ],
            [
                "1acbddb2.6bd012"
            ],
            [
                "f831b827.d19c38"
            ]
        ]
    },
    {
        "id": "1acbddb2.6bd012",
        "type": "debug",
        "z": "3ead8668.6bfe7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "f831b827.d19c38",
        "type": "debug",
        "z": "3ead8668.6bfe7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "e75d5846.0fe018",
        "type": "function",
        "z": "1c278495.e2b9eb",
        "name": "",
        "func": "var year = new Date(msg.payload).getFullYear().toString();\nmsg.url = \"http://opendap.bom.gov.au:8080/thredds/fileServer/c35ee8d2a475e10ea06d0ad53b46ce2a/JASMIN_land_dryness/native/jasmin.vol.smc.\"+year+\".nc\"\nmsg.filename = \"jasmin.vol.smc.\"+year+\".nc\";\n\nmsg.payload = \"cd /mnt/fuel/JASMIN/native/ && wget -nc -c \" + msg.url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "b2f3ba93.eb87e8"
            ]
        ]
    },
    {
        "id": "1d5ec1ca.07bb1e",
        "type": "inject",
        "z": "1c278495.e2b9eb",
        "name": "Daily @ 3pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "e75d5846.0fe018"
            ]
        ]
    },
    {
        "id": "b1a5b57.ee6ed48",
        "type": "debug",
        "z": "1c278495.e2b9eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "b2f3ba93.eb87e8",
        "type": "exec",
        "z": "1c278495.e2b9eb",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "b1a5b57.ee6ed48"
            ],
            [
                "1432d2e2.0f3bed"
            ],
            [
                "20be007a.0db8c"
            ]
        ]
    },
    {
        "id": "1432d2e2.0f3bed",
        "type": "debug",
        "z": "1c278495.e2b9eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "20be007a.0db8c",
        "type": "debug",
        "z": "1c278495.e2b9eb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "8841d5b7.1f9618",
        "type": "inject",
        "z": "ee6c3ad0.573538",
        "name": "Daily @ 3pm",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "e483b484.535278",
                "ecd19fd6.ec8b3",
                "25ae85a9.fe872a"
            ]
        ]
    },
    {
        "id": "3eb9de08.ee4472",
        "type": "debug",
        "z": "ee6c3ad0.573538",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "b2f31d68.98ce",
        "type": "debug",
        "z": "ee6c3ad0.573538",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "3e4a4d64.b39872",
        "type": "debug",
        "z": "ee6c3ad0.573538",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "e372a7d9.2803e8",
        "type": "exec",
        "z": "ee6c3ad0.573538",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 40,
        "wires": [
            [
                "3eb9de08.ee4472"
            ],
            [
                "b2f31d68.98ce"
            ],
            [
                "2c0c6ac8.1342b6"
            ]
        ]
    },
    {
        "id": "9e8a028f.60ae9",
        "type": "exec",
        "z": "ee6c3ad0.573538",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "3eb9de08.ee4472"
            ],
            [
                "b2f31d68.98ce"
            ],
            [
                "2c0c6ac8.1342b6"
            ]
        ]
    },
    {
        "id": "b78d5801.f16568",
        "type": "exec",
        "z": "ee6c3ad0.573538",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "3eb9de08.ee4472"
            ],
            [
                "b2f31d68.98ce"
            ],
            [
                "2c0c6ac8.1342b6"
            ]
        ]
    },
    {
        "id": "9560857c.5f1b38",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "fwo",
        "func": "msg.url = msg.url + \"/fwo/\";\nmsg.uri = msg.url;\n\nmsg.directory = msg.directory+\"/fwo/\";\nmsg.payload = \"curl --list-only \" + msg.url + \" -o \" + msg.directory +\"fwo.txt\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 560,
        "wires": [
            [
                "d270bfe9.2690a",
                "521276a3.500848"
            ]
        ]
    },
    {
        "id": "1148d2a1.052d3d",
        "type": "exec",
        "z": "f51feb57.6cd738",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 810,
        "y": 480,
        "wires": [
            [
                "f1aafe76.a625",
                "cb81f6de.87e3a8"
            ],
            [
                "4627d5d0.41823c"
            ],
            [
                "8932f05c.8e35a"
            ]
        ]
    },
    {
        "id": "5741afff.fe8a5",
        "type": "inject",
        "z": "f51feb57.6cd738",
        "name": "@4pm Daily",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 16 * * *",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "2ac88d9.1cec572"
            ]
        ]
    },
    {
        "id": "2ac88d9.1cec572",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "",
        "func": "msg.url = \"ftp.bom.gov.au/register/bom023/rKCm6dbQ\";\n\nvar today = new Date();\nvar dd = today.getDate().toString();\nvar mm = today.getMonth()+1; //January is 0!\nvar yyyy = today.getFullYear().toString();\nvar h = today.getHours();\nvar m = today.getMinutes();\nvar meridian = '';\n\nif(h < 12 || (h==12 && m===0)) {\n    meridian ='AM';\n}\nif(h > 12) {\n    meridian = 'PM';\n}\n\nif(dd<10) {\n    dd = '0'+dd;\n}\n\nif(mm<10) {\n    mm = '0'+mm;\n} \n\nmsg.today = ''+ yyyy + mm + dd + meridian;\n\nmsg.directory = \"/mnt/data_dir/\" + msg.today;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 540,
        "wires": [
            [
                "144b0928.405707",
                "9560857c.5f1b38"
            ]
        ]
    },
    {
        "id": "379c16d7.78d08a",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 380,
        "wires": []
    },
    {
        "id": "f1aafe76.a625",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 540,
        "wires": []
    },
    {
        "id": "4627d5d0.41823c",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 620,
        "wires": []
    },
    {
        "id": "8932f05c.8e35a",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 660,
        "wires": []
    },
    {
        "id": "eea1800c.555db",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "mkdir",
        "func": "msg.payload= \"Mirrored from BOM FTP by LFMC Pipeline @ \" + msg.today;\nmsg.filename =  msg.directory + \"/meta.txt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 620,
        "wires": [
            [
                "eb518519.9b1518",
                "8ed11ab7.fb5278"
            ]
        ]
    },
    {
        "id": "eb518519.9b1518",
        "type": "file",
        "z": "f51feb57.6cd738",
        "name": "metadata",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "379c16d7.78d08a"
            ]
        ]
    },
    {
        "id": "c542e8aa.d31218",
        "type": "delay",
        "z": "f51feb57.6cd738",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "8ed11ab7.fb5278",
                "1148d2a1.052d3d"
            ]
        ]
    },
    {
        "id": "144b0928.405707",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "adfd",
        "func": "msg.url = msg.url + \"/adfd/\";\nmsg.uri = msg.url;\n\nmsg.payload = \"curl --list-only \" + msg.url + \" -o \" + msg.directory + \"/adfd.txt\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "57657c1a.4f66e4",
                "c542e8aa.d31218"
            ]
        ]
    },
    {
        "id": "521276a3.500848",
        "type": "delay",
        "z": "f51feb57.6cd738",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 620,
        "y": 560,
        "wires": [
            [
                "8ed11ab7.fb5278",
                "773dd7fd.4f4d88"
            ]
        ]
    },
    {
        "id": "57657c1a.4f66e4",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "mkdir",
        "func": "msg.payload= \"Mirrored from BOM FTP by LFMC Pipeline @ \" + msg.today;\nmsg.filename =  msg.directory + \"/meta.txt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "eb518519.9b1518",
                "8ed11ab7.fb5278"
            ]
        ]
    },
    {
        "id": "773dd7fd.4f4d88",
        "type": "exec",
        "z": "f51feb57.6cd738",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 810,
        "y": 600,
        "wires": [
            [
                "f1aafe76.a625",
                "1f1e7a25.4b9306"
            ],
            [
                "4627d5d0.41823c"
            ],
            [
                "8932f05c.8e35a"
            ]
        ]
    },
    {
        "id": "d270bfe9.2690a",
        "type": "delay",
        "z": "f51feb57.6cd738",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "eea1800c.555db"
            ]
        ]
    },
    {
        "id": "df973b23.7bcd58",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "",
        "func": "msg.payload = 'cd ' + msg.directory + ' && cat '+msg.index+' | parallel --gnu -j6 \"wget -q -nc -c \\'ftp://anonymous:anonymous@'+msg.url+'{}\\'\"';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 480,
        "wires": [
            [
                "7e36c068.7e198",
                "7aff73fe.42fc2c"
            ]
        ]
    },
    {
        "id": "6decaaab.5ea2c4",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1610,
        "y": 440,
        "wires": []
    },
    {
        "id": "cb81f6de.87e3a8",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "",
        "func": "msg.index = msg.directory + \"/adfd.txt\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "df973b23.7bcd58"
            ]
        ]
    },
    {
        "id": "7aff73fe.42fc2c",
        "type": "exec",
        "z": "f51feb57.6cd738",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1470,
        "y": 480,
        "wires": [
            [
                "6decaaab.5ea2c4",
                "71ec623a.22c3dc"
            ],
            [
                "aaec8f22.c0fe5"
            ],
            [
                "453c2ae0.7b27a4"
            ]
        ]
    },
    {
        "id": "aaec8f22.c0fe5",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1610,
        "y": 480,
        "wires": []
    },
    {
        "id": "453c2ae0.7b27a4",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1610,
        "y": 520,
        "wires": []
    },
    {
        "id": "1f1e7a25.4b9306",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "",
        "func": "msg.index = msg.directory + \"fwo.txt\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 580,
        "wires": [
            [
                "11b29d44.c3ac13"
            ]
        ]
    },
    {
        "id": "b4d0fcc7.6a30e",
        "type": "exec",
        "z": "27de4edd.91f382",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "89197dcd.8e1a6",
                "e891fdc2.f8914"
            ],
            [
                "a73ce674.145608"
            ],
            [
                "a73ce674.145608"
            ]
        ]
    },
    {
        "id": "373d1ae3.4ed046",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "Format call",
        "func": "var d = new Date(msg.payload),\n    month = '' + (d.getMonth() + 1),\n    day = '' + d.getDate(),\n    year = d.getFullYear();\n\nif (month.length < 2) month = '0' + month;\nif (day.length < 2) day = '0' + day;\n\nvar dt = [year,month,day].join('');\n\n\nmsg.filename = dt + dt + \".grid.Z\";\nmsg.uri = msg.url + msg.filename;\nmsg.out = msg.prefix + \"_\" + dt + \".grid.Z\";\n\nmsg.payload = \"cd \"+msg.path+\" && curl \" + msg.uri + \" -o \" + msg.out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "b4d0fcc7.6a30e",
                "e891fdc2.f8914"
            ]
        ]
    },
    {
        "id": "1a482ab8.1c9495",
        "type": "debug",
        "z": "27de4edd.91f382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1690,
        "y": 100,
        "wires": []
    },
    {
        "id": "6990dd19.7436e4",
        "type": "inject",
        "z": "27de4edd.91f382",
        "name": "15:15 Daily",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "15 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "fc6ef07a.208a8",
                "a9b10347.3b972",
                "c14b1c86.5e8d6"
            ]
        ]
    },
    {
        "id": "fc6ef07a.208a8",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "VP3pm",
        "func": "msg.url = \"http://www.bom.gov.au/web03/ncc/www/awap/vprp/vprph15/daily/grid/0.05/history/nat/\";\nmsg.path = \"/mnt/fuel/Dead_FM/VP3pm/\";\nmsg.prefix = \"VP3pm\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "373d1ae3.4ed046"
            ]
        ]
    },
    {
        "id": "a9b10347.3b972",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "Tmx",
        "func": "msg.url = \"http://www.bom.gov.au/web03/ncc/www/awap/temperature/maxave/daily/grid/0.05/history/nat/\";\nmsg.path = \"/mnt/fuel/Dead_FM/Tmx/\";\nmsg.prefix = \"Tmx\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "373d1ae3.4ed046"
            ]
        ]
    },
    {
        "id": "c14b1c86.5e8d6",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "P",
        "func": "msg.url = \"http://www.bom.gov.au/web03/ncc/www/awap/rainfall/totals/daily/grid/0.05/history/nat/\";\nmsg.path = \"/mnt/fuel/Dead_FM/P/\";\nmsg.prefix = \"P\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "373d1ae3.4ed046"
            ]
        ]
    },
    {
        "id": "89197dcd.8e1a6",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "",
        "func": "msg.payload = \"cd \"+msg.path+\" && gunzip -f \" + msg.out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 140,
        "wires": [
            [
                "eeaea28.bc49a6",
                "e891fdc2.f8914"
            ]
        ]
    },
    {
        "id": "eeaea28.bc49a6",
        "type": "exec",
        "z": "27de4edd.91f382",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 990,
        "y": 140,
        "wires": [
            [
                "8ab74d55.6f6fe",
                "44fbcbad.045a14"
            ],
            [
                "74d57aa4.4e9854",
                "fa472d97.6311b"
            ],
            [
                "ee71f1b0.36ed9"
            ]
        ]
    },
    {
        "id": "a73ce674.145608",
        "type": "debug",
        "z": "27de4edd.91f382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "8ab74d55.6f6fe",
        "type": "debug",
        "z": "27de4edd.91f382",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1230,
        "y": 160,
        "wires": []
    },
    {
        "id": "e891fdc2.f8914",
        "type": "debug",
        "z": "27de4edd.91f382",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 40,
        "wires": []
    },
    {
        "id": "fec9a0d1.fcf73",
        "type": "delay",
        "z": "27de4edd.91f382",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1000,
        "y": 380,
        "wires": [
            [
                "373d1ae3.4ed046"
            ]
        ]
    },
    {
        "id": "74d57aa4.4e9854",
        "type": "switch",
        "z": "27de4edd.91f382",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "gunzip: invalid magic",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 400,
        "wires": [
            [
                "fec9a0d1.fcf73"
            ],
            []
        ]
    },
    {
        "id": "ee71f1b0.36ed9",
        "type": "debug",
        "z": "27de4edd.91f382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1150,
        "y": 240,
        "wires": []
    },
    {
        "id": "1491b7ae.b057f8",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "Parallel wget",
        "func": "msg.payload = \"cat adfd.txt | parallel --gnu -j4 'wget -nc -c {}'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a7302399.eb391",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "Parallel curl",
        "func": "msg.payload = \"cat \"+ msg.filename +\" | parallel --gnu -j4 'curl -O {}'\";\n//msg.payload = \"cat \"+ msg.filename +\" | parallel --gnu -j4 'curl -u AnthonyRawlinsUoM:FuelMoisture2017 -O {}'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e33fa1f.a8dc96",
        "type": "function",
        "z": "6debec4f.057b04",
        "name": "Parallel wget",
        "func": "msg.payload = \"cd \" + msg.path +\" && cat \"+ msg.out +\" | parallel --gnu -j4 'wget -q -nc {}'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "126825a7.db5d2a"
            ]
        ]
    },
    {
        "id": "f799aec4.2df64",
        "type": "inject",
        "z": "6debec4f.057b04",
        "name": "8 days",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "691200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "2d07d598.32fada"
            ]
        ]
    },
    {
        "id": "2d07d598.32fada",
        "type": "function",
        "z": "6debec4f.057b04",
        "name": "LFMC",
        "func": "// MODIS Product & version\nvar product = \"MOD09A1\"\nvar version = \"6\"\n\n//# AIO bounding box lower left longitude, lower left latitude, upper right longitude, upper right latitude.\nvar bbox = \"108.0000,-45.0000,155.0000,-10.0000\"\n\nvar d = new Date(msg.payload),\n    month = '' + (d.getMonth() + 1),\n    day = '' + d.getDate(),\n    year = d.getFullYear();\n\nif (month.length < 2) month = '0' + month;\nif (day.length < 2) day = '0' + day;\n\nvar today = [year,month,day].join('-');\n\nvar d8 = new Date(msg.payload);\nd8.setDate(d8.getDate() - 8);\nvar month8 = '' + (d8.getMonth() + 1);\nvar day8 = '' + d8.getDate();\nvar year8 = d8.getFullYear();\n\nif (month8.length < 2) month8 = '0' + month8;\nif (day8.length < 2) day8 = '0' + day8;\n\nvar last_week = [year8,month8,day8].join('-');\n\n\n/* \"\"\"\n * Uses USGS service to match spatiotemporal query to granules required.\n * converts each granule name to LFMC name\n\"\"\"\n*/\n\nmsg.url = \"https://lpdaacsvc.cr.usgs.gov/services/inventory?product=\" + product + \"&version=\" + version + \"&bbox=\" + bbox + \"&date=\" + last_week + ',' + today + \"&output=text\";\nmsg.path = \"/mnt/fuel/Live_FM/modis/\";\nmsg.prefix = \"LFMC\";\n\n\n\nmsg.out = \"granules_\" + today + \".txt\";\nmsg.payload = \"cd \"+msg.path+\" && curl '\" + msg.url + \"' -o \" + msg.out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "b8020e87.aa69b",
                "62630cf7.684b94"
            ]
        ]
    },
    {
        "id": "62630cf7.684b94",
        "type": "exec",
        "z": "6debec4f.057b04",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "e33fa1f.a8dc96"
            ],
            [
                "5324e633.877338"
            ],
            [
                "3a991a5b.d98a36"
            ]
        ]
    },
    {
        "id": "5324e633.877338",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "3a991a5b.d98a36",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "da9b49cb.3e30a8",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 870,
        "y": 20,
        "wires": []
    },
    {
        "id": "b8020e87.aa69b",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "126825a7.db5d2a",
        "type": "exec",
        "z": "6debec4f.057b04",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 730,
        "y": 40,
        "wires": [
            [
                "da9b49cb.3e30a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "44546363.2cc71c",
        "type": "inject",
        "z": "ee6c3ad0.573538",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "25ae85a9.fe872a",
                "ecd19fd6.ec8b3",
                "e483b484.535278"
            ]
        ]
    },
    {
        "id": "2c0c6ac8.1342b6",
        "type": "switch",
        "z": "ee6c3ad0.573538",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "19cfa1f9.67e4ce"
            ],
            [
                "3e4a4d64.b39872"
            ]
        ]
    },
    {
        "id": "19cfa1f9.67e4ce",
        "type": "function",
        "z": "ee6c3ad0.573538",
        "name": "",
        "func": "msg.payload = \"File was successfully downloaded.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "3e4a4d64.b39872"
            ]
        ]
    },
    {
        "id": "8ed11ab7.fb5278",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "7e36c068.7e198",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1370,
        "y": 400,
        "wires": []
    },
    {
        "id": "4e34f246.d937cc",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1610,
        "y": 560,
        "wires": []
    },
    {
        "id": "71d2e880.ffe5e8",
        "type": "exec",
        "z": "f51feb57.6cd738",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1470,
        "y": 600,
        "wires": [
            [
                "4e34f246.d937cc",
                "71ec623a.22c3dc"
            ],
            [
                "a3fcb90c.dc9cd8"
            ],
            [
                "b2c27900.1583c8"
            ]
        ]
    },
    {
        "id": "a3fcb90c.dc9cd8",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1610,
        "y": 600,
        "wires": []
    },
    {
        "id": "b2c27900.1583c8",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1610,
        "y": 640,
        "wires": []
    },
    {
        "id": "68e6c18a.2f206",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1370,
        "y": 680,
        "wires": []
    },
    {
        "id": "11b29d44.c3ac13",
        "type": "function",
        "z": "f51feb57.6cd738",
        "name": "",
        "func": "msg.payload = 'cd ' + msg.directory + ' && cat '+msg.index+' | parallel --gnu -j6 \"wget -q -nc -c \\'ftp://anonymous:anonymous@'+msg.url+'{}\\'\"';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "68e6c18a.2f206",
                "71d2e880.ffe5e8"
            ]
        ]
    },
    {
        "id": "f8a1b3a.e16fe5",
        "type": "inject",
        "z": "f51feb57.6cd738",
        "name": "@7am Daily",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "2ac88d9.1cec572"
            ]
        ]
    },
    {
        "id": "6c64fed7.a89b6",
        "type": "exec",
        "z": "f51feb57.6cd738",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1930,
        "y": 540,
        "wires": [
            [
                "9175ef19.1a55a"
            ],
            [
                "e24c280f.cf1cd8"
            ],
            [
                "e24c280f.cf1cd8"
            ]
        ]
    },
    {
        "id": "e24c280f.cf1cd8",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 2090,
        "y": 540,
        "wires": []
    },
    {
        "id": "9175ef19.1a55a",
        "type": "debug",
        "z": "f51feb57.6cd738",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 2090,
        "y": 500,
        "wires": []
    },
    {
        "id": "e7759931.e7b368",
        "type": "function",
        "z": "59601007.fe581",
        "name": "",
        "func": "msg.from='<LFMC Website>anthony.rawlins@unimelb.edu.au';\nmsg.to='<Anthony Rawlins>anthony.rawlins@unimelb.edu.au';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "785b2f88.80508"
            ]
        ]
    },
    {
        "id": "6e96c836.1a31b8",
        "type": "http response",
        "z": "50239105.fa614",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "5df408d.6a07ff8",
        "type": "function",
        "z": "50239105.fa614",
        "name": "",
        "func": "var fields = msg.req.files;\nmsg.fields = Object.keys(fields);\nvar myFile = fields[\"file\"][0];\n\nmsg.test = myFile;\nvar response = {};\n\nif(msg.test) {\n    response.statusCode=0;\n    response.localFilenamePath=myFile.path;\n    response.fileSize = myFile.size;\n    response.sendMessage=\"Successful\";\n} else {\n    response.statusCode=1;\n    response.sendMessage=\"Failed\";\n}\nmsg.payload = response;\n\nmsg.response = response;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "94b2d91d.8b95c8"
            ]
        ]
    },
    {
        "id": "d5756eb.39d979",
        "type": "httpInMultipart",
        "z": "50239105.fa614",
        "name": "",
        "url": "/upload",
        "method": "post",
        "fields": "[{\"name\":\"file\"}]",
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "5df408d.6a07ff8"
            ]
        ]
    },
    {
        "id": "94b2d91d.8b95c8",
        "type": "switch",
        "z": "50239105.fa614",
        "name": "wasSuccessful?",
        "property": "payload.sendMessage",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Successful",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Successful",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "ac7fc34c.4b3b3"
            ],
            [
                "6e96c836.1a31b8"
            ]
        ],
        "outputLabels": [
            "Successful",
            ""
        ]
    },
    {
        "id": "ac7fc34c.4b3b3",
        "type": "switch",
        "z": "50239105.fa614",
        "name": "Matching Extensions for SHP File Grouping",
        "property": "test.originalname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".shp",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".dbf",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".prj",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".sbn",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".sbx",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".xml",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".shx",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".cpg",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".gz",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".zip",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "20a708ba.9f0008"
            ],
            [
                "415a707.453429"
            ],
            [
                "415a707.453429"
            ],
            [
                "415a707.453429"
            ],
            [
                "415a707.453429"
            ],
            [
                "415a707.453429"
            ],
            [
                "415a707.453429"
            ],
            [
                "415a707.453429"
            ],
            [
                "50dcb68d.f404a8"
            ],
            [
                "50dcb68d.f404a8"
            ],
            [
                "9b380eef.c8155"
            ]
        ]
    },
    {
        "id": "9b380eef.c8155",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "1ea56ea5.2ddd71",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "415a707.453429",
        "type": "function",
        "z": "50239105.fa614",
        "name": "move params",
        "func": "msg.payload = msg.test.path + ' /mnt/queries/' + msg.test.originalname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 200,
        "wires": [
            [
                "7a2ab6d6.adb298"
            ]
        ]
    },
    {
        "id": "7a2ab6d6.adb298",
        "type": "exec",
        "z": "50239105.fa614",
        "command": "cp ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": true,
        "name": "",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "32703211.09beae"
            ],
            [
                "1ea56ea5.2ddd71"
            ],
            [
                "1ea56ea5.2ddd71"
            ]
        ]
    },
    {
        "id": "28ab3361.9b641c",
        "type": "exec",
        "z": "50239105.fa614",
        "command": "ls -al /mnt/queries/*.shp",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": true,
        "name": "",
        "x": 1110,
        "y": 580,
        "wires": [
            [
                "6340a055.139f5"
            ],
            [
                "6340a055.139f5"
            ],
            [
                "6340a055.139f5"
            ]
        ]
    },
    {
        "id": "6710b332.688afc",
        "type": "inject",
        "z": "50239105.fa614",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 900,
        "y": 580,
        "wires": [
            [
                "28ab3361.9b641c"
            ]
        ]
    },
    {
        "id": "6340a055.139f5",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1350,
        "y": 580,
        "wires": []
    },
    {
        "id": "5ff854c6.a7227c",
        "type": "function",
        "z": "50239105.fa614",
        "name": "",
        "func": "msg.payload = {'shp': msg.test.originalname};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1430,
        "y": 260,
        "wires": [
            [
                "18850b4f.598f95"
            ]
        ]
    },
    {
        "id": "32703211.09beae",
        "type": "switch",
        "z": "50239105.fa614",
        "name": "has .shp",
        "property": "test.originalname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".shp",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 880,
        "y": 260,
        "wires": [
            [
                "b0c1aec0.2c4cd"
            ],
            [
                "cea7fe83.f608b"
            ]
        ]
    },
    {
        "id": "b0c1aec0.2c4cd",
        "type": "switch",
        "z": "50239105.fa614",
        "name": "not .xml",
        "property": "test.originalname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".shp.xml",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1060,
        "y": 260,
        "wires": [
            [
                "cea7fe83.f608b"
            ],
            [
                "5ff854c6.a7227c"
            ]
        ]
    },
    {
        "id": "18850b4f.598f95",
        "type": "http request",
        "z": "50239105.fa614",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://api:8002/v1/convert.json",
        "tls": "",
        "x": 1370,
        "y": 380,
        "wires": [
            [
                "2b88e6ec.abec4a"
            ]
        ]
    },
    {
        "id": "8eecf639.6ed2a8",
        "type": "http request",
        "z": "50239105.fa614",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1850,
        "y": 320,
        "wires": [
            [
                "532d8be5.c345d4"
            ]
        ]
    },
    {
        "id": "e531f971.bb92d8",
        "type": "function",
        "z": "50239105.fa614",
        "name": "Monitor UUID",
        "func": "msg.url = \"http://api:8002/v1/progress.json?uuid=\" + msg.payload.uuid;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1680,
        "y": 320,
        "wires": [
            [
                "8eecf639.6ed2a8"
            ]
        ]
    },
    {
        "id": "2b88e6ec.abec4a",
        "type": "json",
        "z": "50239105.fa614",
        "name": "",
        "pretty": false,
        "x": 1650,
        "y": 240,
        "wires": [
            [
                "37d73538.b46d9a",
                "e531f971.bb92d8"
            ]
        ]
    },
    {
        "id": "37d73538.b46d9a",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1850,
        "y": 240,
        "wires": []
    },
    {
        "id": "126a5724.4bf6c9",
        "type": "switch",
        "z": "50239105.fa614",
        "name": "SUCCESS?",
        "property": "payload.STATE",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SUCCESS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PENDING",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1730,
        "y": 440,
        "wires": [
            [
                "d622e810.c0fe98",
                "368e57d9.2adcf8"
            ],
            [
                "d17c7c8.82abe8"
            ],
            [
                "ea193057.859a1"
            ]
        ]
    },
    {
        "id": "d622e810.c0fe98",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2110,
        "y": 360,
        "wires": []
    },
    {
        "id": "d17c7c8.82abe8",
        "type": "delay",
        "z": "50239105.fa614",
        "name": "",
        "pauseType": "queue",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1950,
        "y": 440,
        "wires": [
            [
                "13b91295.22cecd"
            ]
        ]
    },
    {
        "id": "dcb99a0b.754ad8",
        "type": "inject",
        "z": "50239105.fa614",
        "name": "",
        "topic": "TEST",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1160,
        "y": 140,
        "wires": [
            [
                "14c0ae30.6d38e2"
            ]
        ]
    },
    {
        "id": "14c0ae30.6d38e2",
        "type": "function",
        "z": "50239105.fa614",
        "name": "Example Conversion File Path",
        "func": "msg.test = {\n    \"originalname\": \"Tostaree_2011_FP.shp\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 160,
        "wires": [
            [
                "5ff854c6.a7227c"
            ]
        ]
    },
    {
        "id": "18f94681.fc5b09",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2110,
        "y": 320,
        "wires": []
    },
    {
        "id": "cab92288.d2fa1",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 2190,
        "y": 640,
        "wires": []
    },
    {
        "id": "368e57d9.2adcf8",
        "type": "function",
        "z": "50239105.fa614",
        "name": "",
        "func": "msg.url = \"http://pipeline:1880/result?uuid=\" + msg.payload.id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1830,
        "y": 640,
        "wires": [
            [
                "f338430a.df975"
            ]
        ]
    },
    {
        "id": "f338430a.df975",
        "type": "http request",
        "z": "50239105.fa614",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 2010,
        "y": 640,
        "wires": [
            [
                "cab92288.d2fa1",
                "8113f90c.465208"
            ]
        ]
    },
    {
        "id": "13b91295.22cecd",
        "type": "function",
        "z": "50239105.fa614",
        "name": "",
        "func": "msg.payload.uuid = msg.payload.id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2110,
        "y": 440,
        "wires": [
            [
                "808d3724.482ea8",
                "e531f971.bb92d8"
            ]
        ]
    },
    {
        "id": "808d3724.482ea8",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2270,
        "y": 440,
        "wires": []
    },
    {
        "id": "532d8be5.c345d4",
        "type": "json",
        "z": "50239105.fa614",
        "name": "",
        "pretty": false,
        "x": 1590,
        "y": 440,
        "wires": [
            [
                "126a5724.4bf6c9",
                "18f94681.fc5b09"
            ]
        ]
    },
    {
        "id": "ea193057.859a1",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2110,
        "y": 520,
        "wires": []
    },
    {
        "id": "3c11d78b.524bd8",
        "type": "delay",
        "z": "1b36fe01.5f7492",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1310,
        "y": 200,
        "wires": [
            [
                "54d16091.cf2ef"
            ]
        ]
    },
    {
        "id": "cea7fe83.f608b",
        "type": "http response",
        "z": "50239105.fa614",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 320,
        "wires": []
    },
    {
        "id": "6241b7a8.9cad08",
        "type": "http response",
        "z": "50239105.fa614",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2270,
        "y": 740,
        "wires": []
    },
    {
        "id": "8113f90c.465208",
        "type": "function",
        "z": "50239105.fa614",
        "name": "",
        "func": "msg.payload = msg.response;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2120,
        "y": 740,
        "wires": [
            [
                "6241b7a8.9cad08"
            ]
        ]
    },
    {
        "id": "20a708ba.9f0008",
        "type": "delay",
        "z": "50239105.fa614",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 820,
        "y": 40,
        "wires": [
            [
                "415a707.453429"
            ]
        ]
    },
    {
        "id": "8ac3f09e.44289",
        "type": "exec",
        "z": "50239105.fa614",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "c9421a07.8ec3a8"
            ],
            [
                "e56d3441.c26688"
            ],
            [
                "e56d3441.c26688"
            ]
        ]
    },
    {
        "id": "50dcb68d.f404a8",
        "type": "function",
        "z": "50239105.fa614",
        "name": "Expand Archives",
        "func": "var folder = msg.test.originalname.replace('.zip', '')\nvar path = '/mnt/queries/' + folder;\nmsg.payload = \"mkdir -p \" + path + \" && unzip \" + msg.test.path + ' -o -d ' + path;\nmsg.zip_out_path = path;\nmsg.folder = folder;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 120,
        "wires": [
            [
                "8ac3f09e.44289"
            ]
        ]
    },
    {
        "id": "e56d3441.c26688",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "c9421a07.8ec3a8",
        "type": "function",
        "z": "50239105.fa614",
        "name": "",
        "func": "msg.payload = \"ls \" + msg.zip_out_path;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "cd510c1b.f7ebb"
            ]
        ]
    },
    {
        "id": "cd510c1b.f7ebb",
        "type": "exec",
        "z": "50239105.fa614",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "527d000e.31bf1"
            ],
            [
                "c457175b.cdfc78"
            ],
            [
                "c457175b.cdfc78"
            ]
        ]
    },
    {
        "id": "527d000e.31bf1",
        "type": "split",
        "z": "50239105.fa614",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 870,
        "y": 480,
        "wires": [
            [
                "7a17a431.2704fc",
                "d81dfb10.9efb68"
            ]
        ]
    },
    {
        "id": "7a17a431.2704fc",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "d81dfb10.9efb68",
        "type": "function",
        "z": "50239105.fa614",
        "name": "",
        "func": "msg.test.originalname= msg.folder + \"/\" + msg.payload;\nmsg.test.path= msg.zip_out_folder + \"/\" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 440,
        "wires": [
            [
                "120a7c16.976314",
                "ac7fc34c.4b3b3"
            ]
        ]
    },
    {
        "id": "120a7c16.976314",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "c457175b.cdfc78",
        "type": "debug",
        "z": "50239105.fa614",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "44fbcbad.045a14",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "",
        "func": "msg.url = \"http://api:8002/v1/consolidate\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 100,
        "wires": [
            [
                "a58a46ce.47fc58"
            ]
        ]
    },
    {
        "id": "a58a46ce.47fc58",
        "type": "http request",
        "z": "27de4edd.91f382",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 1510,
        "y": 100,
        "wires": [
            [
                "1a482ab8.1c9495"
            ]
        ]
    },
    {
        "id": "67f48717.c1b588",
        "type": "exec",
        "z": "27de4edd.91f382",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1350,
        "y": 200,
        "wires": [
            [
                "12579340.c140dd"
            ],
            [],
            []
        ]
    },
    {
        "id": "12579340.c140dd",
        "type": "debug",
        "z": "27de4edd.91f382",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1490,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa472d97.6311b",
        "type": "function",
        "z": "27de4edd.91f382",
        "name": "",
        "func": "msg.payload = \"cd \"+msg.path+\" && rm \" + msg.out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 200,
        "wires": [
            [
                "67f48717.c1b588"
            ]
        ]
    },
    {
        "id": "9edba036.aa7fc",
        "type": "watch",
        "z": "6debec4f.057b04",
        "name": "",
        "files": "/mnt/fuel/Live_FM/modis/",
        "recursive": false,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "9e07a8b3.e0b868"
            ]
        ]
    },
    {
        "id": "9e07a8b3.e0b868",
        "type": "switch",
        "z": "6debec4f.057b04",
        "name": "FILE?",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "file",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "2d51d882.428378"
            ],
            [
                "4df7b44a.745bbc"
            ]
        ]
    },
    {
        "id": "335238ab.3f4ee8",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "4df7b44a.745bbc",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d51d882.428378",
        "type": "switch",
        "z": "6debec4f.057b04",
        "name": "HDF?",
        "property": "file",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".hdf",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".txt",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "335238ab.3f4ee8",
                "cd05fb13.8b1468"
            ],
            [
                "2ac3cb98.b42e04"
            ],
            [
                "4df7b44a.745bbc"
            ]
        ]
    },
    {
        "id": "2ac3cb98.b42e04",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "cd05fb13.8b1468",
        "type": "switch",
        "z": "6debec4f.057b04",
        "name": "Victorian Granule",
        "property": "file",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "h29v12",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "2c05abb3.0891b4",
                "3f181082.01ccf"
            ],
            []
        ]
    },
    {
        "id": "2c05abb3.0891b4",
        "type": "function",
        "z": "6debec4f.057b04",
        "name": "Call TransformR API",
        "func": "msg.url = \"http://transformr:8000/modis_to_ncdf\";\nmsg.payload = {\n    \"thefile\": msg.file\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 300,
        "wires": [
            [
                "881bacd8.b57d3",
                "bb3c0ac4.4eddb8"
            ]
        ]
    },
    {
        "id": "881bacd8.b57d3",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "f0a8268a.c7ad68",
        "type": "function",
        "z": "6debec4f.057b04",
        "name": "TEST PARAMS",
        "func": "msg.path = \"/mnt/fuel/Live_FM/modis/\";\nmsg.file = \"MOD09A1.A2018353.h29v12.006.2019032175923.hdf\";\nmsg.payload = \"/mnt/fuel/Live_FM/modis/MOD09A1.A2018353.h29v12.006.2019032175923.hdf\";\nmsg.type = \"file\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "9e07a8b3.e0b868",
                "6b85bf5f.95119"
            ]
        ]
    },
    {
        "id": "a92eeced.8c6bc",
        "type": "inject",
        "z": "6debec4f.057b04",
        "name": "TEST",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "f0a8268a.c7ad68"
            ]
        ]
    },
    {
        "id": "6b85bf5f.95119",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "ba4da3e.e78fa6",
        "type": "watch",
        "z": "6debec4f.057b04",
        "name": "",
        "files": "/mnt/fuel/Live_FM/projd/",
        "recursive": false,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "14cd59bc.ae05d6"
            ]
        ]
    },
    {
        "id": "14cd59bc.ae05d6",
        "type": "switch",
        "z": "6debec4f.057b04",
        "name": "FILE?",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "file",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "6e4ea26b.bd90dc"
            ],
            [
                "4df7b44a.745bbc"
            ]
        ]
    },
    {
        "id": "6e4ea26b.bd90dc",
        "type": "switch",
        "z": "6debec4f.057b04",
        "name": "NC?",
        "property": "file",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".nc",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": ".txt",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "f7a95bb0.21d118"
            ],
            [
                "2ac3cb98.b42e04"
            ],
            [
                "4df7b44a.745bbc"
            ]
        ]
    },
    {
        "id": "f7a95bb0.21d118",
        "type": "switch",
        "z": "6debec4f.057b04",
        "name": "Victorian Granule",
        "property": "file",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "h29v12",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "fb0f61d4.abfe6",
                "fa69ad11.d20db"
            ],
            []
        ]
    },
    {
        "id": "fb0f61d4.abfe6",
        "type": "function",
        "z": "6debec4f.057b04",
        "name": "Call API -> derive LFMC",
        "func": "msg.payload = \"http://api:8002/derive_lfmc?nc=\" + msg.file;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 500,
        "wires": [
            [
                "e63b7980.626dd8"
            ]
        ]
    },
    {
        "id": "e63b7980.626dd8",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1470,
        "y": 500,
        "wires": []
    },
    {
        "id": "3f181082.01ccf",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "bb3c0ac4.4eddb8",
        "type": "http request",
        "z": "6debec4f.057b04",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "a6e35d3d.95cdc"
            ]
        ]
    },
    {
        "id": "c70f5907.5af188",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1490,
        "y": 300,
        "wires": []
    },
    {
        "id": "a6e35d3d.95cdc",
        "type": "json",
        "z": "6debec4f.057b04",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1300,
        "y": 300,
        "wires": [
            [
                "c70f5907.5af188",
                "c03cca3b.43d2e8"
            ]
        ]
    },
    {
        "id": "fa69ad11.d20db",
        "type": "debug",
        "z": "6debec4f.057b04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "c03cca3b.43d2e8",
        "type": "function",
        "z": "6debec4f.057b04",
        "name": "",
        "func": "msg.file = msg.payload.name;\nmsg.path = \"/mnt/fuel/Live_FM/projd/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 440,
        "wires": [
            [
                "fb0f61d4.abfe6"
            ]
        ]
    }
]