src/flows/.flows.json.backup
[{"id":"a9caf749.eb5048","type":"tab","label":"Mongo","disabled":false,"info":""},{"id":"cc93ff07.e64b2","type":"tab","label":"API","disabled":false,"info":""},{"id":"c062f1c4.9c61","type":"tab","label":"CFA","disabled":false,"info":""},{"id":"b04549c7.7fcce8","type":"tab","label":"BoM","disabled":true,"info":""},{"id":"96f4fbb4.ccf1f8","type":"tab","label":"MODIS","disabled":true,"info":""},{"id":"164e0840.391e68","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"17e2e8ac.896147","type":"dropbox-config","z":""},{"id":"617678.b507e988","type":"ftp","z":"","host":"ftp.bom.gov.au/anon/fwo/","port":"","secureOptions":"","user":"","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"671e12d5.6bd4fc","type":"mongodb2","z":"","uri":"mongodb://db:27017/","name":"","options":"","parallelism":"-1"},{"id":"bdb0f5ea.af8508","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"1","name":""},{"id":"43dbd97c.b673e8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"d2b70e2e.911d","type":"ftp","z":"","host":"nrt3.modaps.eosdis.nasa.gov","port":"","secureOptions":"","user":"anthonyrawlinsuom","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"4518fe2.7ae9d","type":"debug","z":"a9caf749.eb5048","name":"","active":false,"console":"false","complete":"true","x":818,"y":112,"wires":[]},{"id":"386edb7c.509784","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":821,"y":197,"wires":[]},{"id":"a0163c0d.096a7","type":"function","z":"a9caf749.eb5048","name":"","func":"var fields = msg.req.files;\nmsg.fields = Object.keys(fields);\nvar myFile = fields[\"file\"][0];\n\nmsg.test = myFile;\nvar response = {};\n\nif(msg.test) {\n    response.statusCode=0;\n    response.localFilenamePath=myFile.path;\n    response.fileSize = myFile.size;\n    response.sendMessage=\"Successful\";\n} else {\n    response.statusCode=1;\n    response.sendMessage=\"Failed\";\n}\nmsg.payload = response;\n\nreturn msg;","outputs":"2","noerr":0,"x":455,"y":193,"wires":[["4518fe2.7ae9d","386edb7c.509784"],[]]},{"id":"f7682791.2c6fe8","type":"httpInMultipart","z":"a9caf749.eb5048","name":"","url":"/upload","method":"post","fields":"[{\"name\":\"file\"}]","swaggerDoc":"","x":130,"y":133,"wires":[["a0163c0d.096a7"]]},{"id":"52436c9f.c3ce04","type":"function","z":"b04549c7.7fcce8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[[]]},{"id":"9a463435.9a97b8","type":"inject","z":"b04549c7.7fcce8","name":"","topic":"BoM","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":310,"y":120,"wires":[["420020a4.7eaf7"]]},{"id":"420020a4.7eaf7","type":"ftp in","z":"b04549c7.7fcce8","ftp":"617678.b507e988","operation":"get","filename":"","localFilename":"","name":"","x":590,"y":140,"wires":[["52436c9f.c3ce04"]]},{"id":"545c1161.092a9","type":"feedparse","z":"c062f1c4.9c61","name":"","url":"https://data.emergency.vic.gov.au/Show?pageId=getCapWarningRSS","interval":"10","x":283,"y":145,"wires":[["fd16ef24.fd717","5cc0e22d.95651c"]]},{"id":"a4b7e46c.884888","type":"json","z":"cc93ff07.e64b2","name":"","pretty":false,"x":727,"y":79,"wires":[["5e6fce38.36e86"]]},{"id":"32a70fd6.21d99","type":"debug","z":"cc93ff07.e64b2","name":"","active":false,"console":"false","complete":"payload","x":1172,"y":367,"wires":[]},{"id":"6a92eeb4.c98fd","type":"http request","z":"cc93ff07.e64b2","name":"Incidents & Planned Burns (CFA, MFB, DEPI)","method":"GET","ret":"txt","url":"https://data.emergency.vic.gov.au/Show?pageId=getIncidentJSON","tls":"","x":470,"y":73,"wires":[["a4b7e46c.884888"]]},{"id":"24c61bd7.3c0a04","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"Watcher","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":153,"y":69,"wires":[["6a92eeb4.c98fd"]]},{"id":"42823593.f848fc","type":"function","z":"96f4fbb4.ccf1f8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":88,"wires":[[]]},{"id":"875c5f2b.5fe","type":"inject","z":"96f4fbb4.ccf1f8","name":"","topic":"MODIS","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":148,"y":71,"wires":[["d774c11a.94f0a"]]},{"id":"d774c11a.94f0a","type":"ftp in","z":"96f4fbb4.ccf1f8","ftp":"617678.b507e988","operation":"get","filename":"1","localFilename":"","name":"","x":343,"y":78,"wires":[["42823593.f848fc"]]},{"id":"5e6fce38.36e86","type":"function","z":"cc93ff07.e64b2","name":"Split to incidents","func":"for(i=0;i<msg.payload.results.length;i++) {\n    \n    var newMsg = {};\n    newMsg.payload = {};\n    newMsg.payload.incidentNo = msg.payload.results[i].incidentNo;\n    newMsg.doc = msg.payload.results[i];\n    node.send(newMsg);\n}\nreturn;","outputs":1,"noerr":0,"x":643,"y":146,"wires":[["23d74ef3.95a012"]]},{"id":"df343111.551f3","type":"mongodb2 in","z":"cc93ff07.e64b2","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"incidents","operation":"findOneAndUpdate","x":775,"y":273,"wires":[["ab94cbf0.dfb088"]]},{"id":"fd16ef24.fd717","type":"debug","z":"c062f1c4.9c61","name":"","active":false,"console":"false","complete":"true","x":738,"y":130,"wires":[]},{"id":"dcd4e015.a4c32","type":"http in","z":"a9caf749.eb5048","name":"","url":"/api/models","method":"get","upload":false,"swaggerDoc":"","x":149,"y":261,"wires":[["65f5aa20.d97954"]]},{"id":"85cf55a0.d7ff88","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":1175,"y":365,"wires":[]},{"id":"89a6b072.29f9a","type":"debug","z":"a9caf749.eb5048","name":"","active":true,"console":"false","complete":"false","x":1172,"y":319,"wires":[]},{"id":"ccd4554e.fc87a8","type":"json","z":"a9caf749.eb5048","name":"","pretty":true,"x":962,"y":364,"wires":[["85cf55a0.d7ff88","89a6b072.29f9a"]]},{"id":"1722bc97.40aaa3","type":"mongodb2 in","z":"a9caf749.eb5048","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"models","operation":"insertOne","x":798,"y":812,"wires":[["2aaf52da.0ca7ae"]]},{"id":"68d67bcb.62e0a4","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":807,"wires":[["828005e3.3cd768"]]},{"id":"828005e3.3cd768","type":"template","z":"a9caf749.eb5048","name":"Single Model","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n\t\t\"type\": \"model\",\n\t\t\"rating\": \"7\",\n\t\t\"name\": \"Chen et al.\",\n\t\t\"abbr\":\"chen\",\n\t\t\"date\": \"11 July 2017\",\n\t\t\"title\": \"Development of a predictive model for estimating forest surface fuel load in Australian eucalypt forests with LiDAR data\",\n\t\t\"href\": \"https://doi-org.ezp.lib.unimelb.edu.au/10.1016/j.envsoft.2017.07.007\",\n\t\t\"version\": \"1.0\",\n\t\t\"validated\": {\n\t\t\t\"validated\": true,\n\t\t\t\"references\": [{\n\t\t\t\t\"href\": \"\",\n\t\t\t\t\"authors\": [\n\t\t\t\t\t\"Yang Chen\",\n\t\t\t\t\t\"Xuan Zhua\",\n\t\t\t\t\t \"Marta Yebrab\",\n\t\t\t\t\t \"Sarah Harrisa\",\n\t\t\t\t\t \"Nigel Tappera\"\n\t\t\t\t],\n\t\t\t\t\"date\": \"11 July 2017\"\n\t\t\t}]\n\t\t},\n\t\t\"description\": {\n\t\t\t\"author\": \"\",\n\t\t\t\"date\": \"11 July 2017\",\n\t\t\t\"abstract\": \"Accurate description of forest surface fuel load is important for understanding bushfire behaviour and suppression difficulties, predicting ongoing fires for operational activities, assessing potential fire hazards and assisting in fuel hazard-reduction burns to reduce fire risks to the community and the environment. Bushfire related studies and current operational activities have a common challenge in quantifying fuels, since the fuel load varies across the landscape. This paper developed a predictive model that efficiently and accurately estimates quantities of surface fuel in Australian southeast Eucalypt forests. Model coefficients were determined through a three-step process that attempts to evaluate how the spatial variation in surface fuel load relates to litter-bed depth, fuel characteristics, topography and previous fire disturbance. First, the forest surface fuel depth-to-load relationship was established; second, key quantitative variables of environmental factors were added; and third, important qualitative variables of fuel characteristics were included. The verification of model prediction was conducted through leave-one-out cross-validation (CV). Light Detection and Ranging was used to quantify forest structural characteristics and terrain features. The calibrated model had a R2 of 0.89 (RMSE = 20.7 g) and performed better than the currently used surface fuel load models, including McArthur's (R2 = 0.61 and RMSE = 39.6 g) and Gilroy and Tran's (R2 = 0.69 and RMSE = 36.5 g) models. This study describes a novel approach to forest surface fuel load modelling using forest characteristics and environmental factors derived from LiDAR data through statistical analysis. The model established in this study can be used as an efficient approach to assist in forest fuel management and fire related operational activities.\",\n\t\t\t\"range\": {\n\n\t\t\t},\n\t\t\t\"fuel\": {\n\n\t\t\t},\n\t\t\t\"metric\": \"\",\n\t\t\t\"index\": \"\",\n\t\t\t\"resolutions\": {\n\t\t\t\t\"minimum\": {\n\t\t\t\t\t\"spatial\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"units\": \"\"\n\t\t\t\t\t},\n\t\t\t\t\t\"temporal\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"units\": \"\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"optimum\": {\n\t\t\t\t\t\"spatial\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"units\": \"\"\n\t\t\t\t\t},\n\t\t\t\t\t\"temporal\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"units\": \"\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"maximum\": {\n\t\t\t\t\t\"spatial\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"units\": \"\"\n\t\t\t\t\t},\n\t\t\t\t\t\"temporal\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"units\": \"\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"keywords\": {\n\t\t\t\t\"strengths\": [\n\t\t\t\t\t\"Surface fuel load\",\n\t\t\t\t\t\"Litter-bed fuel depth\",\n\t\t\t\t\t\"Airborne LiDAR\",\n\t\t\t\t\t\"Terrestrial LiDAR\",\n\t\t\t\t\t\"Multiple regression\"\n\t\t\t\t],\n\t\t\t\t\"weaknesses\": [\n\n\t\t\t\t]\n\t\t\t},\n\t\t\t\"cavaets\": \"\"\n\t\t},\n\t\t\"datasources\": [\n\t\t\t\"AWRA\",\n\t\t\t\"Observations\"\n\t\t]\n\t}","output":"json","x":310,"y":810,"wires":[["1722bc97.40aaa3"]]},{"id":"2aaf52da.0ca7ae","type":"debug","z":"a9caf749.eb5048","name":"","active":true,"console":"false","complete":"false","x":1121,"y":850,"wires":[]},{"id":"f13a5619.d820e8","type":"mongodb2 in","z":"a9caf749.eb5048","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"models","operation":"","x":654,"y":361,"wires":[["ccd4554e.fc87a8","89a6b072.29f9a"]]},{"id":"65f5aa20.d97954","type":"function","z":"a9caf749.eb5048","name":"","func":"msg.operation = \"aggregate.toArray\";\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":290,"wires":[["f13a5619.d820e8"]]},{"id":"9a1bb438.b1bcf8","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":324,"wires":[["65f5aa20.d97954"]]},{"id":"54cf7817.b810a8","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":825,"y":46,"wires":[]},{"id":"1306e523.f89d1b","type":"http in","z":"a9caf749.eb5048","name":"","url":"/windchange","method":"get","upload":false,"swaggerDoc":"","x":165,"y":51,"wires":[["e40a5a1c.23e518"]]},{"id":"e40a5a1c.23e518","type":"dropbox","z":"a9caf749.eb5048","dropbox":"17e2e8ac.896147","filename":"windchange.kmz","name":"","x":503,"y":53,"wires":[["54cf7817.b810a8"]]},{"id":"8f091de2.628ed","type":"mongodb2 in","z":"a9caf749.eb5048","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"datasources","operation":"insertOne","x":811,"y":905,"wires":[["2aaf52da.0ca7ae"]]},{"id":"65af3eb8.bcb7d","type":"template","z":"a9caf749.eb5048","name":"New Datasource","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"last_updated\":\"{{msg.timestamp}}\",\n    \"name\":\"KBDI\",\n    \"desc\":\"Keech-Byram Drought Index\",\n    \"provider_org\":\"bom.gov.au\",\n    \"frequency\": {\n        \"value\":\"24\",\n        \"units\":\"hours\"\n    },\n    \"provides\":[]\n}","output":"json","x":345,"y":901,"wires":[["8f091de2.628ed"]]},{"id":"263c57fb.7421f8","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":895,"wires":[["65af3eb8.bcb7d"]]},{"id":"cf43a287.67709","type":"function","z":"a9caf749.eb5048","name":"","func":"msg.operation = \"find.toArray\";\nmsg.payload = {\"models\": msg.req.query.name};\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":547,"wires":[["23e4b18c.dd151e"]]},{"id":"3fe74805.d9caa8","type":"http in","z":"a9caf749.eb5048","name":"","url":"/api/model/:name/datasources","method":"get","upload":false,"swaggerDoc":"","x":183,"y":512,"wires":[["cf43a287.67709"]]},{"id":"70083c33.097f94","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"{\"models\":\"Boer\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":140,"y":587,"wires":[["cf43a287.67709"]]},{"id":"1e66111f.b9139f","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":1390,"y":505,"wires":[]},{"id":"9f34a62c.c4a978","type":"debug","z":"a9caf749.eb5048","name":"","active":true,"console":"false","complete":"false","x":1393,"y":444,"wires":[]},{"id":"83e9c1f8.a234f","type":"json","z":"a9caf749.eb5048","name":"","pretty":true,"x":1209,"y":474,"wires":[["1e66111f.b9139f","9f34a62c.c4a978"]]},{"id":"23e4b18c.dd151e","type":"mongodb2 in","z":"a9caf749.eb5048","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"datasources","operation":"find.toArray","x":746,"y":560,"wires":[["83e9c1f8.a234f"]]},{"id":"a9e18e12.0784c","type":"http in","z":"a9caf749.eb5048","name":"","url":"/api/model/:name","method":"get","upload":false,"swaggerDoc":"","x":138,"y":386,"wires":[["7a509ad9.f84b04"]]},{"id":"7a509ad9.f84b04","type":"function","z":"a9caf749.eb5048","name":"","func":"msg.operation = \"findOne\";\nmsg.payload = {\"name\": msg.req.query.name};\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":380,"wires":[["f13a5619.d820e8"]]},{"id":"23c1e8db.75ae48","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"{\"name\":\"Boer\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":143,"y":437,"wires":[["7a509ad9.f84b04"]]},{"id":"ab94cbf0.dfb088","type":"debug","z":"cc93ff07.e64b2","name":"","active":false,"console":"false","complete":"payload.lastErrorObject","x":1134,"y":273,"wires":[]},{"id":"6549a3ca.701c1c","type":"function","z":"164e0840.391e68","name":"build operation parameters: filter, update","func":"var filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n  filter,\n  {\n    \"$inc\": {\n      \"counter\": 1\n    }\n  }\n];\n\nreturn msg;\n","outputs":1,"x":346,"y":230.22219848632812,"wires":[["6b33a715.f20728"]]},{"id":"6b33a715.f20728","type":"mongodb2 in","z":"164e0840.391e68","service":"_ext_","configNode":"","name":"","collection":"mycollection","operation":"findOneAndUpdate","x":452.3333435058594,"y":159,"wires":[["143d598c.dc8176"]]},{"id":"19133220.9313ce","type":"inject","z":"164e0840.391e68","name":"Inject filter","topic":"","payload":"{\"_id\":\"mydocument\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":111.5,"y":230.22219848632812,"wires":[["6549a3ca.701c1c"]]},{"id":"143d598c.dc8176","type":"debug","z":"164e0840.391e68","name":"","active":true,"console":"false","complete":"false","x":686,"y":231.22219848632812,"wires":[]},{"id":"23d74ef3.95a012","type":"function","z":"cc93ff07.e64b2","name":"build operation parameters: filter, update","func":"var filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n  filter,\n  {\n    \"$inc\": {\n      \"counter\": 1\n    },\n    \"$set\": msg.doc\n  },\n  {\n      \"upsert\": true\n  }\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":749,"y":209,"wires":[["df343111.551f3"]]},{"id":"c2280353.ae6b","type":"http in","z":"cc93ff07.e64b2","name":"","url":"/api/fires","method":"get","upload":false,"swaggerDoc":"","x":125,"y":356,"wires":[["55e052c0.e1344c"]]},{"id":"e75be8b.f129518","type":"http response","z":"cc93ff07.e64b2","name":"","statusCode":"","headers":{},"x":1528,"y":445,"wires":[]},{"id":"b977027e.42746","type":"mongodb2 in","z":"cc93ff07.e64b2","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"incidents","operation":"find.toArray","x":645,"y":433,"wires":[["32a70fd6.21d99","39faf71.5189508"]]},{"id":"55e052c0.e1344c","type":"function","z":"cc93ff07.e64b2","name":"","func":"var ts = +new Date();\nvar tminus24 = ts - (24 * 60 * 60 * 1000);\n\nvar map={\"category1\":\"Fire\", \"eventCode\": {$ne:\"False Alarm\"},\"lastUpdatedDt\": {$gte: tminus24}};\nvar reduce = {};\nvar options = {};\n\nmsg.payload = [\n  map,\n  reduce,\n  options\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":356,"wires":[["b977027e.42746"]]},{"id":"84214777.894ee8","type":"http in","z":"cc93ff07.e64b2","name":"","url":"/api/bushfires","method":"get","upload":false,"swaggerDoc":"","x":150,"y":433,"wires":[["629f9bf4.3a0ea4"]]},{"id":"629f9bf4.3a0ea4","type":"function","z":"cc93ff07.e64b2","name":"","func":"var ts = +new Date();\n\nvar tminus24 = ts - (24 * 60 * 60 * 1000);\nvar map={\"category2\":\"Bushfire\", \"eventCode\": {$ne:\"False Alarm\"},\"lastUpdatedDt\": {$gte: tminus24}};\nvar reduce = {};\nvar options = {};\n\nmsg.payload = [\n  map,\n  reduce,\n  options\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":433,"wires":[["b977027e.42746"]]},{"id":"9306951e.2e9ad8","type":"http in","z":"cc93ff07.e64b2","name":"","url":"/api/safe","method":"get","upload":false,"swaggerDoc":"","x":126,"y":512,"wires":[["cc659c9b.fa70c"]]},{"id":"cc659c9b.fa70c","type":"function","z":"cc93ff07.e64b2","name":"","func":"var map={\"originStatus\":\"SAFE\"};\nvar reduce = {\"eventCode\": {$ne:\"False Alarm\"}};\nvar options = {};\n\nmsg.payload = [\n  map,\n  reduce,\n  options\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":512,"wires":[["b977027e.42746"]]},{"id":"81f467a8.aaf4b8","type":"json","z":"cc93ff07.e64b2","name":"","pretty":false,"x":1363,"y":449,"wires":[["e75be8b.f129518","ed89098f.1781b8"]]},{"id":"ed89098f.1781b8","type":"debug","z":"cc93ff07.e64b2","name":"","active":false,"console":"false","complete":"false","x":1553,"y":496,"wires":[]},{"id":"4aa683f6.3e6f4c","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":72,"y":322,"wires":[["55e052c0.e1344c"]]},{"id":"39faf71.5189508","type":"function","z":"cc93ff07.e64b2","name":"GeoJSON Encode as FeatureCollection","func":"var coll = {};\ncoll.type = \"FeatureCollection\";\ncoll.features = [];\n\nfor(i=0;i<msg.payload.length;i++) {\n    wf = {}\n    wfp = msg.payload[i];\n    wf.type = \"Feature\";\n    wf.geometry = {};\n    wf.geometry.type = \"Point\";\n    wf.geometry.coordinates = [wfp.longitude,wfp.latitude];\n    wf.properties = wfp;\n    coll.features.push(wf);\n}\nmsg.payload = coll;\nreturn msg;","outputs":1,"noerr":0,"x":1087,"y":462,"wires":[["81f467a8.aaf4b8"]]},{"id":"7f654a93.457174","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":66,"y":489,"wires":[["cc659c9b.fa70c"]]},{"id":"ff16bc70.dd32a","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":71,"y":405,"wires":[["629f9bf4.3a0ea4"]]},{"id":"7e28688d.c5c498","type":"function","z":"c062f1c4.9c61","name":"build operation parameters: filter, update","func":"var filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n  filter,\n  {\n    \"$inc\": {\n      \"counter\": 1\n    },\n    \"$set\": msg.article\n  },\n  {\n      \"upsert\": true\n  }\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":377,"y":352,"wires":[["247a48bd.e4e748"]]},{"id":"247a48bd.e4e748","type":"mongodb2 in","z":"c062f1c4.9c61","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"warnings","operation":"findOneAndUpdate","x":450,"y":466,"wires":[["53446b3e.5ac9e4"]]},{"id":"53446b3e.5ac9e4","type":"debug","z":"c062f1c4.9c61","name":"","active":false,"console":"false","complete":"payload.lastErrorObject","x":809,"y":466,"wires":[]},{"id":"5cc0e22d.95651c","type":"function","z":"c062f1c4.9c61","name":"","func":"msg.message = msg.payload;\nmsg.payload = {\"topic\": msg.topic, \"message\": msg.message};\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":254,"wires":[["7e28688d.c5c498"]]},{"id":"6a915ef3.de6c5","type":"mongodb2 in","z":"cc93ff07.e64b2","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"warnings","operation":"find.toArray","x":650,"y":623,"wires":[["4277dc5c.fc79f4"]]},{"id":"4277dc5c.fc79f4","type":"function","z":"cc93ff07.e64b2","name":"GeoJSON Encode as FeatureCollection","func":"var coll = {};\ncoll.type = \"FeatureCollection\";\ncoll.features = [];\n\nfor(i=0;i<msg.payload.length;i++) {\n    wf = {}\n    wfp = msg.payload[i];\n    wf.type = \"Feature\";\n    wf.geometry = {};\n    wf.geometry.type = \"Point\";\n    wf.geometry.coordinates = [wfp.longitude,wfp.latitude];\n    wf.properties = wfp;\n    coll.features.push(wf);\n}\nmsg.payload = coll;\nreturn msg;","outputs":1,"noerr":0,"x":1095,"y":644,"wires":[["3978ad84.e93ad2"]]},{"id":"c3abb1fd.4e3d","type":"http response","z":"cc93ff07.e64b2","name":"","statusCode":"","headers":{},"x":1543,"y":630,"wires":[]},{"id":"3978ad84.e93ad2","type":"json","z":"cc93ff07.e64b2","name":"","pretty":false,"x":1378,"y":634,"wires":[["c3abb1fd.4e3d","bb926488.0d0e38"]]},{"id":"bb926488.0d0e38","type":"debug","z":"cc93ff07.e64b2","name":"","active":true,"console":"false","complete":"false","x":1568,"y":681,"wires":[]},{"id":"b4c75dc9.22a35","type":"http in","z":"cc93ff07.e64b2","name":"","url":"/api/warnings","method":"get","upload":false,"swaggerDoc":"","x":109,"y":638,"wires":[["d10d53a0.19478"]]},{"id":"d10d53a0.19478","type":"function","z":"cc93ff07.e64b2","name":"","func":"var ts = +new Date();\nvar tminus24 = ts - (24 * 60 * 60 * 1000);\n\nvar map={\"topic\":\"http://emergency.vic.gov.au/\", \"date\": {$gte: tminus24}};\nvar reduce = {};\nvar options = {};\n\nmsg.payload = [\n  map,\n  reduce,\n  options\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":627,"wires":[["6a915ef3.de6c5"]]},{"id":"74041943.22c288","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":78,"y":593,"wires":[["d10d53a0.19478"]]},{"id":"12fc1924.c82897","type":"mongodb2 in","z":"cc93ff07.e64b2","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"features","operation":"find.toArray","x":665,"y":746,"wires":[["97b33de5.f52b4","405cc1ed.d34fc"]]},{"id":"1e04c6bf.d17069","type":"http in","z":"cc93ff07.e64b2","name":"","url":"/api/wellknown","method":"get","upload":false,"swaggerDoc":"","x":138,"y":733,"wires":[["1164bb4e.b42755"]]},{"id":"1164bb4e.b42755","type":"function","z":"cc93ff07.e64b2","name":"Choose document","func":"var ts = +new Date();\n\nvar tminus24 = ts - (24 * 60 * 60 * 1000);\nvar map={\"category2\":\"Bushfire\", \"eventCode\": {$ne:\"False Alarm\"},\"lastUpdatedDt\": {$gte: tminus24}};\nvar reduce = {};\nvar options = {};\n\nmsg.payload = [\n  map,\n  reduce,\n  options\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":741,"wires":[["12fc1924.c82897"]]},{"id":"baf0d9b3.c5d1f8","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"insert","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":793,"wires":[[]]},{"id":"b2a47537.9de9a8","type":"http response","z":"cc93ff07.e64b2","name":"","statusCode":"","headers":{},"x":1340,"y":732,"wires":[]},{"id":"97b33de5.f52b4","type":"debug","z":"cc93ff07.e64b2","name":"","active":true,"console":"false","complete":"false","x":1228,"y":793,"wires":[]},{"id":"396bbe86.eb9832","type":"mongodb2 in","z":"cc93ff07.e64b2","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"features","operation":"findOneAndUpdate","x":896,"y":839,"wires":[["97b33de5.f52b4"]]},{"id":"9b471df8.4146f","type":"function","z":"cc93ff07.e64b2","name":"build operation parameters: filter, update","func":"var filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n  filter,\n  {\n    \"$inc\": {\n      \"counter\": 1\n    },\n    \"$set\": msg.doc\n  },\n  {\n      \"upsert\": true\n  }\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":479,"y":840,"wires":[["396bbe86.eb9832"]]},{"id":"405cc1ed.d34fc","type":"function","z":"cc93ff07.e64b2","name":"Terraformer GeoJSON to WKT","func":"var wkt = require('Terraformer');\nmsg.payload = wkt.dump(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1051,"y":721,"wires":[["b2a47537.9de9a8","97b33de5.f52b4"]]},{"id":"4502cfc5.54c71","type":"function","z":"cc93ff07.e64b2","name":"Synthesized Fuel Moisture as TimeSeries","func":"// Test Data Example Defaults\n\nlet time_step =1000*60*60*1; // ie hourly in milliseconds\nvar samples_per_series = 24*7;\nlet noise_variation = Math.random()*0.5;\n // -6.73 per hour\n \nvar num_models = 3;\nvar model_names = ['Nolan', 'van Dijk', 'Boer', 'McArthur'];\n\nvar lat = 0;\nvar lng = 0;\n\nvar now = new Date();\nvar start = new Date(now.getTime() - (samples_per_series*time_step) );\nvar finish = new Date(now.getTime());\nvar timeseries = [];\n\n// Override if values supplied in request\nif(msg.req.params.models) {\n    var names = msg.req.params.models.split(',');\n    num_models = names.length;\n    model_names = names;\n}\nif(msg.req.params.lng) lng = msg.req.params.lng;\nif(msg.req.params.lat) lat = msg.req.params.lat;\nif(msg.req.params.start) start = msg.req.params.start;\nif(msg.req.params.finish) finish = msg.req.params.finish;\n\nfor(model=0;model<num_models;model++) {\n\n    var sample = {};\n    sample.name = model_names[model];\n    \n    \n    var meta = {};\n    meta.lat = lat;\n    meta.lng = lng;\n    meta.start = start;\n    meta.finish = finish;\n    meta.rainfall = \"Expressed as percentage gain in water saturation\";\n    meta.spatial_resolution = 'Average over 500 m^2';\n    meta.temporal_granularity = time_step + ' milliseconds';\n    // TODO - other metadata like applicable fuel types etc\n    \n    // Inject metadata\n    sample.meta = meta;\n    sample.series = [];\n    \n    var drying_acceleration = Math.random()*0.43;\n    \n    var raining = false;\n        \n    for(observation=0;observation<samples_per_series;observation++) {\n        var transpiration = (Math.random()*0.87235623);\n        // var time_noise = Math.random()*0.00125;\n        var time_noise = 0.0;\n        var exposure = Math.random()*0.363124;\n        var record={};\n        var fuel;\n        var loss=0;\n        var rain_chance = Math.random();\n        var rainfall = 0;\n        \n        \n        // First pass check\n        if(model===0) {\n            \n            // Lay down some randomness...\n            if(observation<1) {\n            // First Observation\n                fuel = Math.random() * 100;\n            } else {\n                fuel = sample.series[observation-1].value; // fill-forward and mutate later\n            }\n            \n            // in Model[0] we store rainfall\n            \n            if(!raining && rain_chance > 0.85) {\n                // Start raining\n                raining = true;\n                rainfall = (Math.random()*45); // % Saturation in one hour (downpour)\n            } else if(raining && rain_chance < 0.25) {\n                // Stop raining\n                raining = false;\n            } else if(raining) {\n                // Continue raining\n                rainfall = (Math.random()*15); // % Saturation in one hour (drizzle)\n            } else if (!raining) {\n                drying_acceleration += Math.random()*exposure;\n            }\n        \n        } else {\n            // Subsequent Models\n            \n            rainfall = timeseries[0].series[observation].rainfall;\n            if(rainfall===0) drying_acceleration += Math.random()*exposure;\n            // Observations are derived from their parameters \n            // Continue trend from Previous in series\n            \n            // Add noise and drift\n            if(observation<1) {\n                fuel = timeseries[0].series[observation].value;\n            } else {\n                fuel = sample.series[observation-1].value; // fill-forward and mutate later\n            }\n        }\n        \n        \n        \n        \n        \n        loss = (transpiration + drying_acceleration); // Fudge!!\n        \n        fuel += rainfall*(1 - Math.random()*0.1);\n        fuel -= loss*(1 - Math.random()*0.25);\n        \n        if(fuel > 100) {\n            fuel = 100;\n        } else if(fuel < 0) {\n            fuel = 0;\n        }\n        \n        var min = Math.max(0, fuel-loss);\n        var max = Math.min(100, fuel+rainfall);\n        \n        \n        \n        \n        // Flow *forwads* through time from most distant past observation to most recent\n        var date_time = new Date(now.getTime() - ((samples_per_series-observation)*time_step) );\n        \n        record.name= date_time;\n        record.rainfall = rainfall;\n        record.value = fuel;\n        \n        if(observation==samples_per_series-1) {\n            record.min = 0;\n            record.max = 100;\n        } else {\n            record.min = min;\n            record.max = max;\n        }\n        sample.series.push(record);\n        // console.log('Series for observation: '+observation+', of model('+model+'):'+model_names[model]+' generated.');\n    }\n    timeseries.push(sample);\n    \n    console.log(timeseries)\n    // console.log('Sample for model('+model+'):'+model_names[model]+' generated.');\n}\n\n\n\n\nmsg.payload = timeseries;\n\nreturn msg;","outputs":1,"noerr":0,"x":919,"y":1102,"wires":[["3ee06ab4.66bf06","e092431e.aa693"]]},{"id":"a9474016.659d3","type":"http in","z":"cc93ff07.e64b2","name":"Fuel API Defaults (Testing only)","url":"/api/fuel","method":"get","upload":false,"swaggerDoc":"","x":259,"y":984,"wires":[["ab67d457.754358"]]},{"id":"e092431e.aa693","type":"debug","z":"cc93ff07.e64b2","name":"","active":true,"console":"false","complete":"false","x":1253,"y":1118,"wires":[]},{"id":"3ee06ab4.66bf06","type":"http response","z":"cc93ff07.e64b2","name":"","statusCode":"","headers":{},"x":1237,"y":1023,"wires":[]},{"id":"adfca794.6100b8","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"","payload":"{\"num_models\":4}","payloadType":"json","repeat":"","crontab":"","once":false,"x":561,"y":928,"wires":[["4502cfc5.54c71"]]},{"id":"d0e1ee2f.9d94b","type":"http in","z":"cc93ff07.e64b2","name":"Fuel API at Point (Testing only)","url":"/api/fuel/:lng/:lat","method":"get","upload":false,"swaggerDoc":"","x":268,"y":1102,"wires":[["4b589d79.b214c4"]]},{"id":"ab67d457.754358","type":"function","z":"cc93ff07.e64b2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":1004,"wires":[["4502cfc5.54c71"]]},{"id":"4b589d79.b214c4","type":"function","z":"cc93ff07.e64b2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":1069,"wires":[["4502cfc5.54c71"]]},{"id":"922bebf2.15ec78","type":"http in","z":"cc93ff07.e64b2","name":"Fuel API at Point and Time (Testing only)","url":"/api/fuel/:lng/:lat/time/:start/:finish","method":"get","upload":false,"swaggerDoc":"","x":243,"y":1167,"wires":[["a836c425.5f58c8"]]},{"id":"a836c425.5f58c8","type":"function","z":"cc93ff07.e64b2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":1123,"wires":[["4502cfc5.54c71"]]},{"id":"5c774599.d93cbc","type":"http in","z":"cc93ff07.e64b2","name":"Fuel API at Point For Models (Testing only)","url":"/api/fuel/:lng/:lat/models/:models","method":"get","upload":false,"swaggerDoc":"","x":245,"y":1248,"wires":[["7c342503.d08ddc","4502cfc5.54c71"]]},{"id":"7c342503.d08ddc","type":"debug","z":"cc93ff07.e64b2","name":"","active":true,"console":"false","complete":"true","x":664,"y":1229,"wires":[]},{"id":"6ecbb57f.7b1eac","type":"http response","z":"cc93ff07.e64b2","name":"Deprecated API Response","statusCode":"","headers":{},"x":1215,"y":1433,"wires":[]},{"id":"35a22080.7085","type":"inject","z":"cc93ff07.e64b2","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":308,"y":1519,"wires":[["d85f1418.1f7798"]]},{"id":"2ceee608.058f1a","type":"function","z":"cc93ff07.e64b2","name":"","func":"// TODO - logic for model selection\n\n// Dead FM\nmsg.payload = 'DeadFMThreaded.py ' + msg.req.params.lng + ' ' + msg.req.params.lat + ' ' + msg.req.params.start + ' ' + msg.req.params.end;\n\nreturn msg;","outputs":1,"noerr":0,"x":669,"y":1271,"wires":[[]]},{"id":"caa732f2.87f51","type":"debug","z":"cc93ff07.e64b2","name":"","active":true,"console":"false","complete":"false","x":1162,"y":1566,"wires":[]},{"id":"deed8dcc.d95c8","type":"http request","z":"cc93ff07.e64b2","name":"LFMC APIv1","method":"GET","ret":"txt","url":"http://api:8002/v1/fuel?lat1={{payload.lat1}}&lon1={{payload.lng1}}&lat2={{payload.lat2}}&lon2={{payload.lng2}}&start={{payload.start}}&finish={{payload.finish}}&models={{payload.models}}","tls":"","x":786,"y":1439,"wires":[["6ecbb57f.7b1eac","caa732f2.87f51"]]},{"id":"d85f1418.1f7798","type":"function","z":"cc93ff07.e64b2","name":"Testing Data","func":"msg.payload = {\n    \"models\": [\"dead_fuel\"],\n    \"start\": \"20180101\",\n    \"finish\": \"20180102\",\n    \"lng1\": 112.8500,\n    \"lat1\": -9.8600,\n    \"lng2\": 153.6900,\n    \"lat2\": -43.7000\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":563,"y":1513,"wires":[["deed8dcc.d95c8","caa732f2.87f51"]]},{"id":"338b8dc1.cd8242","type":"http in","z":"cc93ff07.e64b2","name":"Fuel API Translation (Deprecated)","url":"/api/fuel/models/:models/:lng1/:lat1/:lng2/:lat2/time/:start/:finish","method":"get","upload":false,"swaggerDoc":"","x":264,"y":1417,"wires":[["d998fa8e.6b4998"]]},{"id":"d998fa8e.6b4998","type":"function","z":"cc93ff07.e64b2","name":"parameter parsing","func":"msg.payload = {\n    \"models\": msg.req.params['models'],\n    \"start\": msg.req.params['start'],\n    \"finish\": msg.req.params['finish'],\n    \"lng1\": msg.req.params['lng1'],\n    \"lat1\": msg.req.params['lat1'],\n    \"lng2\": msg.req.params['lng2'],\n    \"lat2\": msg.req.params['lat2'],\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1433,"wires":[["deed8dcc.d95c8"]]},{"id":"abc220ad.9d17d","type":"http request","z":"cc93ff07.e64b2","name":"APIv1 models","method":"GET","ret":"txt","url":"http://api:8002/v1/models","tls":"","x":783,"y":1623,"wires":[["caa732f2.87f51"]]},{"id":"766ca864.cf6508","type":"inject","z":"cc93ff07.e64b2","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":574,"y":1617,"wires":[["abc220ad.9d17d"]]},{"id":"4343f2d7.8365ac","type":"http request","z":"cc93ff07.e64b2","name":"APIv1 monitors/requests","method":"GET","ret":"txt","url":"http://api:8002/v1/monitors/requests","tls":"","x":816,"y":1680,"wires":[["caa732f2.87f51"]]},{"id":"c07ef63f.d94df8","type":"inject","z":"cc93ff07.e64b2","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":570,"y":1677,"wires":[["4343f2d7.8365ac"]]},{"id":"c18f537d.412b1","type":"http request","z":"cc93ff07.e64b2","name":"APIv1 monitors/processes","method":"GET","ret":"txt","url":"http://api:8002/v1/monitors/processes","tls":"","x":817,"y":1737,"wires":[["caa732f2.87f51"]]},{"id":"fa32c549.af1e88","type":"inject","z":"cc93ff07.e64b2","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":565,"y":1742,"wires":[["c18f537d.412b1"]]}]