src/flows/flows.json
[{"id":"a9caf749.eb5048","type":"tab","label":"File Upload Flow","disabled":false,"info":""},{"id":"42bfa4d1.43acac","type":"tab","label":"Ingestion","disabled":true,"info":""},{"id":"85a35494.16b0c8","type":"tab","label":"API","disabled":true,"info":""},{"id":"b04549c7.7fcce8","type":"tab","label":"BoM","disabled":true,"info":""},{"id":"c062f1c4.9c61","type":"tab","label":"CFA","disabled":true,"info":""},{"id":"96f4fbb4.ccf1f8","type":"tab","label":"MODIS","disabled":true,"info":""},{"id":"cc93ff07.e64b2","type":"tab","label":"VicEmergency","disabled":true,"info":""},{"id":"17e2e8ac.896147","type":"dropbox-config","z":""},{"id":"617678.b507e988","type":"ftp","z":"","host":"bom.gov.au","port":"","secureOptions":"","user":"","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"4518fe2.7ae9d","type":"debug","z":"a9caf749.eb5048","name":"","active":true,"console":"false","complete":"true","x":630,"y":100,"wires":[]},{"id":"386edb7c.509784","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":630,"y":160,"wires":[]},{"id":"a0163c0d.096a7","type":"function","z":"a9caf749.eb5048","name":"","func":"var fields = msg.req.files;\nmsg.fields = Object.keys(fields);\nvar myFile = fields[\"file\"][0];\n\nmsg.test = myFile;\nvar response = {};\n\nif(msg.test) {\n    response.statusCode=0;\n    response.localFilenamePath=myFile.path;\n    response.fileSize = myFile.size;\n    response.sendMessage=\"Successful\";\n} else {\n    response.statusCode=1;\n    response.sendMessage=\"Failed\";\n}\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["386edb7c.509784","4518fe2.7ae9d"]]},{"id":"f7682791.2c6fe8","type":"httpInMultipart","z":"a9caf749.eb5048","name":"","url":"/upload","method":"post","fields":"[{\"name\":\"file\"}]","swaggerDoc":"","x":170,"y":120,"wires":[["a0163c0d.096a7"]]},{"id":"779022be.c31c7c","type":"inject","z":"42bfa4d1.43acac","name":"","topic":"Radar","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":133,"y":79,"wires":[["180c0c69.92de94"]]},{"id":"180c0c69.92de94","type":"http request","z":"42bfa4d1.43acac","name":"","method":"GET","ret":"txt","url":"https://dl.dropboxusercontent.com/u/73681667/TheWarden/VIC/AWSNew/WindChange.kmz","tls":"","x":356,"y":80,"wires":[["66d29f0e.3ae96"]]},{"id":"66d29f0e.3ae96","type":"function","z":"42bfa4d1.43acac","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":532,"y":84,"wires":[["5ef9b7af.9e5aa8"]]},{"id":"c676fd83.f719c","type":"http response","z":"85a35494.16b0c8","name":"","statusCode":"","headers":{},"x":712,"y":350,"wires":[]},{"id":"bd9fd231.9204e","type":"http in","z":"85a35494.16b0c8","name":"","url":"/windchange","method":"get","upload":false,"swaggerDoc":"","x":152,"y":349,"wires":[["fc00d84d.608a28"]]},{"id":"fc00d84d.608a28","type":"dropbox","z":"85a35494.16b0c8","dropbox":"17e2e8ac.896147","filename":"windchange.kmz","name":"","x":438,"y":352,"wires":[["c676fd83.f719c"]]},{"id":"5ef9b7af.9e5aa8","type":"dropbox out","z":"42bfa4d1.43acac","dropbox":"17e2e8ac.896147","filename":"WindChange.kmz","localFilename":"WindChange.kmz","name":"","x":734,"y":82,"wires":[]},{"id":"52436c9f.c3ce04","type":"function","z":"b04549c7.7fcce8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":507,"y":100,"wires":[[]]},{"id":"9a463435.9a97b8","type":"inject","z":"b04549c7.7fcce8","name":"","topic":"BoM","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":99,"y":75,"wires":[["420020a4.7eaf7"]]},{"id":"420020a4.7eaf7","type":"ftp in","z":"b04549c7.7fcce8","ftp":"617678.b507e988","operation":"get","filename":"","localFilename":"","name":"","x":328,"y":92,"wires":[["52436c9f.c3ce04"]]},{"id":"545c1161.092a9","type":"feedparse","z":"c062f1c4.9c61","name":"","url":"http://secure.whispir.com/public/vicses/allregions.rss","interval":"1","x":284,"y":176,"wires":[[]]},{"id":"81e4c669.ac61c8","type":"function","z":"cc93ff07.e64b2","name":"","func":"\nreturn msg.payload;","outputs":1,"noerr":0,"x":961,"y":232,"wires":[["32a70fd6.21d99"]]},{"id":"a4b7e46c.884888","type":"json","z":"cc93ff07.e64b2","name":"","pretty":false,"x":765,"y":203,"wires":[["81e4c669.ac61c8"]]},{"id":"32a70fd6.21d99","type":"debug","z":"cc93ff07.e64b2","name":"","active":true,"console":"false","complete":"true","x":1160,"y":151,"wires":[]},{"id":"6a92eeb4.c98fd","type":"http request","z":"cc93ff07.e64b2","name":"Incidents & Planned Burns (CFA, MFB, DEPI)","method":"GET","ret":"txt","url":"https://data.emergency.vic.gov.au/Show?pageId=getIncidentJSON","tls":"","x":444,"y":186,"wires":[["a4b7e46c.884888"]]},{"id":"24c61bd7.3c0a04","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"Watcher","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":105,"y":142,"wires":[["479d6b0e.150674","6a92eeb4.c98fd"]]},{"id":"479d6b0e.150674","type":"http request","z":"cc93ff07.e64b2","name":"TFB/FDR (All fire districts)","method":"GET","ret":"txt","url":"https://data.emergency.vic.gov.au/Show?pageId=getFDRTFBJSON","tls":"","x":382,"y":145,"wires":[["1bb5dbee.fcf434"]]},{"id":"1bb5dbee.fcf434","type":"json","z":"cc93ff07.e64b2","name":"","pretty":false,"x":594,"y":105,"wires":[[]]},{"id":"42823593.f848fc","type":"function","z":"96f4fbb4.ccf1f8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":88,"wires":[[]]},{"id":"875c5f2b.5fe","type":"inject","z":"96f4fbb4.ccf1f8","name":"","topic":"MODIS","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":148,"y":71,"wires":[["d774c11a.94f0a"]]},{"id":"d774c11a.94f0a","type":"ftp in","z":"96f4fbb4.ccf1f8","ftp":"617678.b507e988","operation":"get","filename":"1","localFilename":"","name":"","x":343,"y":78,"wires":[["42823593.f848fc"]]}]
