src/flows/flows.json
[{"id":"a9caf749.eb5048","type":"tab","label":"API","disabled":false,"info":""},{"id":"3fc11891.a48788","type":"tab","label":"SILO","disabled":true,"info":"// From the longpaddock\n\n"},{"id":"42bfa4d1.43acac","type":"tab","label":"Ingestion","disabled":true,"info":""},{"id":"b04549c7.7fcce8","type":"tab","label":"BoM","disabled":true,"info":""},{"id":"c062f1c4.9c61","type":"tab","label":"CFA","disabled":false,"info":""},{"id":"96f4fbb4.ccf1f8","type":"tab","label":"MODIS","disabled":true,"info":""},{"id":"cc93ff07.e64b2","type":"tab","label":"VicEmergency","disabled":true,"info":""},{"id":"980b2121.a6374","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"d326d2e9.c3918","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"ea6f14c2.1942b8","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"15697e51.9b19b2","type":"tab","label":"Incidents Layer Constant Import","disabled":true,"info":""},{"id":"17e2e8ac.896147","type":"dropbox-config","z":""},{"id":"617678.b507e988","type":"ftp","z":"","host":"bom.gov.au","port":"","secureOptions":"","user":"","connTimeout":"","pasvTimeout":"","keepalive":""},{"id":"671e12d5.6bd4fc","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/","name":"","options":"","parallelism":"-1"},{"id":"472d2404.ec943c","type":"mongodb","z":"980b2121.a6374","hostname":"127.0.0.1","port":"27017","db":"incidents","name":""},{"id":"bdb0f5ea.af8508","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"1","name":""},{"id":"43dbd97c.b673e8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"4518fe2.7ae9d","type":"debug","z":"a9caf749.eb5048","name":"","active":false,"console":"false","complete":"true","x":818,"y":112,"wires":[]},{"id":"386edb7c.509784","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":821,"y":197,"wires":[]},{"id":"a0163c0d.096a7","type":"function","z":"a9caf749.eb5048","name":"","func":"var fields = msg.req.files;\nmsg.fields = Object.keys(fields);\nvar myFile = fields[\"file\"][0];\n\nmsg.test = myFile;\nvar response = {};\n\nif(msg.test) {\n    response.statusCode=0;\n    response.localFilenamePath=myFile.path;\n    response.fileSize = myFile.size;\n    response.sendMessage=\"Successful\";\n} else {\n    response.statusCode=1;\n    response.sendMessage=\"Failed\";\n}\nmsg.payload = response;\n\nreturn msg;","outputs":"2","noerr":0,"x":455,"y":193,"wires":[["4518fe2.7ae9d","386edb7c.509784"],[]]},{"id":"f7682791.2c6fe8","type":"httpInMultipart","z":"a9caf749.eb5048","name":"","url":"/upload","method":"post","fields":"[{\"name\":\"file\"}]","swaggerDoc":"","x":130,"y":133,"wires":[["a0163c0d.096a7"]]},{"id":"779022be.c31c7c","type":"inject","z":"42bfa4d1.43acac","name":"","topic":"Radar","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":133,"y":79,"wires":[["180c0c69.92de94"]]},{"id":"180c0c69.92de94","type":"http request","z":"42bfa4d1.43acac","name":"","method":"GET","ret":"txt","url":"https://dl.dropboxusercontent.com/u/73681667/TheWarden/VIC/AWSNew/WindChange.kmz","tls":"","x":356,"y":80,"wires":[["66d29f0e.3ae96"]]},{"id":"66d29f0e.3ae96","type":"function","z":"42bfa4d1.43acac","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":532,"y":84,"wires":[["5ef9b7af.9e5aa8"]]},{"id":"5ef9b7af.9e5aa8","type":"dropbox out","z":"42bfa4d1.43acac","dropbox":"17e2e8ac.896147","filename":"WindChange.kmz","localFilename":"WindChange.kmz","name":"","x":734,"y":82,"wires":[]},{"id":"52436c9f.c3ce04","type":"function","z":"b04549c7.7fcce8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":507,"y":100,"wires":[[]]},{"id":"9a463435.9a97b8","type":"inject","z":"b04549c7.7fcce8","name":"","topic":"BoM","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":99,"y":75,"wires":[["420020a4.7eaf7"]]},{"id":"420020a4.7eaf7","type":"ftp in","z":"b04549c7.7fcce8","ftp":"617678.b507e988","operation":"get","filename":"","localFilename":"","name":"","x":328,"y":92,"wires":[["52436c9f.c3ce04"]]},{"id":"545c1161.092a9","type":"feedparse","z":"c062f1c4.9c61","name":"","url":"http://secure.whispir.com/public/vicses/allregions.rss","interval":"10","x":284,"y":176,"wires":[["fd16ef24.fd717"]]},{"id":"a4b7e46c.884888","type":"json","z":"cc93ff07.e64b2","name":"","pretty":false,"x":468,"y":295,"wires":[["5e6fce38.36e86"]]},{"id":"32a70fd6.21d99","type":"debug","z":"cc93ff07.e64b2","name":"","active":true,"console":"false","complete":"true","x":1175,"y":374,"wires":[]},{"id":"6a92eeb4.c98fd","type":"http request","z":"cc93ff07.e64b2","name":"Incidents & Planned Burns (CFA, MFB, DEPI)","method":"GET","ret":"txt","url":"https://data.emergency.vic.gov.au/Show?pageId=getIncidentJSON","tls":"","x":219,"y":200,"wires":[["a4b7e46c.884888"]]},{"id":"24c61bd7.3c0a04","type":"inject","z":"cc93ff07.e64b2","name":"","topic":"Watcher","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":153,"y":69,"wires":[["6a92eeb4.c98fd"]]},{"id":"42823593.f848fc","type":"function","z":"96f4fbb4.ccf1f8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":88,"wires":[[]]},{"id":"875c5f2b.5fe","type":"inject","z":"96f4fbb4.ccf1f8","name":"","topic":"MODIS","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":148,"y":71,"wires":[["d774c11a.94f0a"]]},{"id":"d774c11a.94f0a","type":"ftp in","z":"96f4fbb4.ccf1f8","ftp":"617678.b507e988","operation":"get","filename":"1","localFilename":"","name":"","x":343,"y":78,"wires":[["42823593.f848fc"]]},{"id":"5e6fce38.36e86","type":"function","z":"cc93ff07.e64b2","name":"Split to incidents","func":"for(i=0;i<msg.payload.results.length;i++) {\n    \n    var newMsg = {};\n    newMsg.payload=msg.payload.results[i];\n    newMsg.filename=msg.payload.results[i].incidentNo + '.json';\n    newMsg.operation=\"insertOne\";\n    newMsg._id=msg.payload.results[i].incidentNo.value;\n    node.send(newMsg);\n}\nreturn;","outputs":1,"noerr":0,"x":534,"y":420,"wires":[["df343111.551f3"]]},{"id":"df343111.551f3","type":"mongodb2 in","z":"cc93ff07.e64b2","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"incidents","operation":"","x":855,"y":464,"wires":[["32a70fd6.21d99"]]},{"id":"e144642b.2c3b18","type":"json","z":"980b2121.a6374","name":"","pretty":false,"x":496,"y":226,"wires":[["657b7e3e.91e0e"]]},{"id":"e64046e9.41d368","type":"http request","z":"980b2121.a6374","name":"Incidents & Planned Burns (CFA, MFB, DEPI)","method":"GET","ret":"txt","url":"https://data.emergency.vic.gov.au/Show?pageId=getIncidentJSON","tls":"","x":234,"y":196,"wires":[["e144642b.2c3b18"]]},{"id":"686b5f2e.5c31c","type":"inject","z":"980b2121.a6374","name":"","topic":"Watcher","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":168,"y":65,"wires":[["e64046e9.41d368"]]},{"id":"657b7e3e.91e0e","type":"function","z":"980b2121.a6374","name":"Split to incidents","func":"for(i=0;i<msg.payload.results.length;i++) {\n    var newMsg = {};\n    newMsg.payload = msg.payload.results[i];\n    newMsg._id = msg.payload.results[i].incidentNo;\n    newMsg.filename = msg.payload.results[i].incidentNo + '.json';\n    \n    node.send(newMsg);\n}\nreturn;","outputs":1,"noerr":0,"x":692,"y":302,"wires":[["83f8bbb4.40c8b8","dc689e98.d2c51"]]},{"id":"18c5a1d9.5c983e","type":"feedparse","z":"980b2121.a6374","name":"","url":"http://secure.whispir.com/public/vicses/allregions.rss","interval":"1","x":217,"y":248,"wires":[["e144642b.2c3b18"]]},{"id":"dc689e98.d2c51","type":"mongodb out","z":"980b2121.a6374","mongodb":"472d2404.ec943c","name":"Update","collection":"incidents","payonly":false,"upsert":true,"multi":true,"operation":"update","x":1020,"y":204,"wires":[]},{"id":"83f8bbb4.40c8b8","type":"debug","z":"980b2121.a6374","name":"Watch","active":true,"console":"false","complete":"payload","x":992,"y":338,"wires":[]},{"id":"5cf1eed2.428c3","type":"mongodb in","z":"d326d2e9.c3918","mongodb":"bdb0f5ea.af8508","name":"","collection":"test","x":616,"y":465,"wires":[["571810b6.feaa4"]]},{"id":"3b7fd250.109f0e","type":"mongodb out","z":"d326d2e9.c3918","mongodb":"bdb0f5ea.af8508","name":"","collection":"test","payonly":false,"operation":"store","x":657,"y":139,"wires":[]},{"id":"7b37792e.0117f8","type":"inject","z":"d326d2e9.c3918","name":"ADD firstPayload","topic":"firstTopic","payload":"firstPayload","payloadType":"string","repeat":"","crontab":"","once":false,"x":380,"y":139,"wires":[["3b7fd250.109f0e","bf3e62c3.7a116"]]},{"id":"78164870.ca09c8","type":"inject","z":"d326d2e9.c3918","name":"RETRIEVE all entries","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":392,"y":465,"wires":[["5cf1eed2.428c3"]]},{"id":"571810b6.feaa4","type":"debug","z":"d326d2e9.c3918","name":"Retrieve","active":true,"console":"false","complete":"false","x":1005,"y":438,"wires":[]},{"id":"f2f95622.801718","type":"mongodb out","z":"d326d2e9.c3918","mongodb":"bdb0f5ea.af8508","name":"","collection":"test","payonly":false,"operation":"delete","x":772,"y":676,"wires":[]},{"id":"e312e2ed.8e92b","type":"inject","z":"d326d2e9.c3918","name":"REMOVE firstPayload","topic":"","payload":"firstPayload","payloadType":"string","repeat":"","crontab":"","once":false,"x":376,"y":630,"wires":[["e5a6f4cb.9fa598"]]},{"id":"e5a6f4cb.9fa598","type":"function","z":"d326d2e9.c3918","name":"Convert","func":"// MongoDB requires payload wrapped into object \nmsg.payload = {\"payload\":msg.payload};\nreturn msg;","outputs":1,"x":574,"y":676,"wires":[["f2f95622.801718","a297a461.76e498"]]},{"id":"d512efad.a1eb3","type":"mongodb out","z":"d326d2e9.c3918","mongodb":"bdb0f5ea.af8508","name":"","collection":"test","payonly":false,"operation":"store","x":657,"y":203,"wires":[]},{"id":"b14514a.a7745e8","type":"inject","z":"d326d2e9.c3918","name":"ADD secondPayload","topic":"secondTopic","payload":"secondPayload","payloadType":"string","repeat":"","crontab":"","once":false,"x":388,"y":203,"wires":[["d512efad.a1eb3","bf3e62c3.7a116"]]},{"id":"1e2d27fa.073648","type":"comment","z":"d326d2e9.c3918","name":"Add data entries","info":"","x":362,"y":95,"wires":[]},{"id":"6cb12aca.3e95d4","type":"comment","z":"d326d2e9.c3918","name":"Retrieve data entries","info":"","x":374,"y":306,"wires":[]},{"id":"90017989.e1f118","type":"comment","z":"d326d2e9.c3918","name":"Remove data entries","info":"","x":359,"y":588,"wires":[]},{"id":"e3ec7e81.aa2fb","type":"inject","z":"d326d2e9.c3918","name":"REMOVE secondPayload","topic":"","payload":"secondPayload","payloadType":"string","repeat":"","crontab":"","once":false,"x":389,"y":685,"wires":[["e5a6f4cb.9fa598"]]},{"id":"a297a461.76e498","type":"debug","z":"d326d2e9.c3918","name":"Remove","active":true,"console":"false","complete":"false","x":689,"y":553,"wires":[]},{"id":"c0f13204.31673","type":"inject","z":"d326d2e9.c3918","name":"RETRIEVE firstPayload","topic":"","payload":"firstPayload","payloadType":"string","repeat":"","crontab":"","once":false,"x":396,"y":367,"wires":[["d5df1b1e.fcd6c8"]]},{"id":"bf3e62c3.7a116","type":"debug","z":"d326d2e9.c3918","name":"Add","active":true,"console":"false","complete":"false","x":610,"y":79,"wires":[]},{"id":"323c7baa.4eeeb4","type":"mongodb out","z":"d326d2e9.c3918","mongodb":"bdb0f5ea.af8508","name":"","collection":"test","payonly":false,"operation":"delete","x":602,"y":756,"wires":[]},{"id":"87c6bb1b.875b48","type":"inject","z":"d326d2e9.c3918","name":"REMOVE all entries","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":379,"y":756,"wires":[["323c7baa.4eeeb4"]]},{"id":"a8d83565.aee8f8","type":"inject","z":"d326d2e9.c3918","name":"RETRIEVE secondPayload","topic":"","payload":"secondPayload","payloadType":"string","repeat":"","crontab":"","once":false,"x":400,"y":416,"wires":[["d5df1b1e.fcd6c8"]]},{"id":"d5df1b1e.fcd6c8","type":"function","z":"d326d2e9.c3918","name":"Convert","func":"// MongoDB requires payload wrapped into object \nmsg.payload = {\"payload\":msg.payload};\n\nreturn msg;","outputs":1,"x":588,"y":380,"wires":[["a8d5c0fa.1fb7a"]]},{"id":"a8d5c0fa.1fb7a","type":"mongodb in","z":"d326d2e9.c3918","mongodb":"bdb0f5ea.af8508","name":"","collection":"test","x":774,"y":380,"wires":[["571810b6.feaa4"]]},{"id":"9a66bac0.12ac88","type":"http in","z":"ea6f14c2.1942b8","name":"","url":"emergency_markers","method":"get","upload":false,"swaggerDoc":"","x":148,"y":74,"wires":[["88d6f672.c480c8"]]},{"id":"1f1760e3.369def","type":"http response","z":"ea6f14c2.1942b8","name":"","statusCode":"","headers":{},"x":1073,"y":228,"wires":[]},{"id":"d7867bbb.009318","type":"mongodb2 in","z":"ea6f14c2.1942b8","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"incidents","operation":"geoHaystackSearch","x":706,"y":261,"wires":[["1f1760e3.369def","5fce8de3.e4b2a4"]]},{"id":"88d6f672.c480c8","type":"function","z":"ea6f14c2.1942b8","name":"","func":"msg.payload = {\"payload\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":255,"wires":[["d7867bbb.009318"]]},{"id":"5fce8de3.e4b2a4","type":"debug","z":"ea6f14c2.1942b8","name":"","active":true,"console":"false","complete":"payload","x":1103,"y":314,"wires":[]},{"id":"131a4c83.780b23","type":"http request","z":"15697e51.9b19b2","name":"Incidents & Planned Burns (CFA, MFB, DEPI)","method":"GET","ret":"txt","url":"https://data.emergency.vic.gov.au/Show?pageId=getIncidentJSON","tls":"","x":244,"y":291,"wires":[["ce232eef.189ca"]]},{"id":"fd16ef24.fd717","type":"debug","z":"c062f1c4.9c61","name":"","active":true,"console":"false","complete":"false","x":708,"y":172,"wires":[]},{"id":"88678053.3773b","type":"function","z":"15697e51.9b19b2","name":"GeoJSON FeatureCollection","func":"var coll = {\n    \"type\":\"FeatureCollection\",\n    \"features\":[]\n};\n\nfor(i=0;i<msg.payload.results.length;i++) {\n    \n    // GeoJSON Formatting\n    var newFeature = {};\n    var t = msg.payload.results[i];\n    \n    newFeature.payload = {\n        \"type\": \"Feature\",\n        \"geometry\": {\n            \"type\": \"Point\",\n            \"coordinates\": [t.longitude, t.latitude]\n        }, \n        \"properties\": t\n    };\n    \n    newFeature._id = t.incidentNo;\n    \n    coll.features.push(newFeature);\n}\nmsg.payload = coll;\nmsg.filename=\"./data/current_incidents.json\";\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":427,"wires":[["6a0e383f.cb4678","d323fdf8.96fde"]]},{"id":"679ce800.309598","type":"debug","z":"15697e51.9b19b2","name":"","active":true,"console":"false","complete":"true","x":1051,"y":713,"wires":[]},{"id":"ce232eef.189ca","type":"json","z":"15697e51.9b19b2","name":"Parse","pretty":false,"x":504,"y":353,"wires":[["88678053.3773b"]]},{"id":"2f9cac38.00b3a4","type":"http request","z":"15697e51.9b19b2","name":"","method":"POST","ret":"txt","url":"http://localhost:8080/geoserver/rest/imports","tls":"","x":885,"y":570,"wires":[["679ce800.309598"]]},{"id":"b98ac9ec.0cd2d8","type":"function","z":"15697e51.9b19b2","name":"Import Instruction for GeoServer","func":"msg.payload = {\n   \"import\": {\n      \"targetWorkspace\": {\n         \"workspace\": {\n            \"name\": \"victoria\"\n         }\n      },\n      \"data\": {\n        \"type\": \"directory\",\n        \"location\": \"/home/anthonyrawlinsuom/Documents/UoM/lfmc-pipeline/data/\"\n      }\n   }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":579,"wires":[["2f9cac38.00b3a4","679ce800.309598"]]},{"id":"6a0e383f.cb4678","type":"file","z":"15697e51.9b19b2","name":"Save to current_incidents.json","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1128,"y":420,"wires":[]},{"id":"83d1f4a7.849d78","type":"inject","z":"15697e51.9b19b2","name":"","topic":"Watcher","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":204,"y":154,"wires":[["131a4c83.780b23","2b043343.091efc"]]},{"id":"2b043343.091efc","type":"delay","z":"15697e51.9b19b2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":186,"y":442,"wires":[["b98ac9ec.0cd2d8"]]},{"id":"d323fdf8.96fde","type":"debug","z":"15697e51.9b19b2","name":"","active":true,"console":"false","complete":"false","x":1061,"y":359,"wires":[]},{"id":"c693977.8e4c668","type":"exec","z":"d326d2e9.c3918","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1090,"y":593.5,"wires":[[],[],[]]},{"id":"dcd4e015.a4c32","type":"http in","z":"a9caf749.eb5048","name":"","url":"/models","method":"get","upload":false,"swaggerDoc":"","x":139,"y":261,"wires":[["65f5aa20.d97954"]]},{"id":"85cf55a0.d7ff88","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":1175,"y":365,"wires":[]},{"id":"89a6b072.29f9a","type":"debug","z":"a9caf749.eb5048","name":"","active":true,"console":"false","complete":"false","x":1172,"y":319,"wires":[]},{"id":"ccd4554e.fc87a8","type":"json","z":"a9caf749.eb5048","name":"","pretty":true,"x":962,"y":364,"wires":[["85cf55a0.d7ff88","89a6b072.29f9a"]]},{"id":"1722bc97.40aaa3","type":"mongodb2 in","z":"a9caf749.eb5048","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"models","operation":"insertOne","x":798,"y":812,"wires":[["2aaf52da.0ca7ae"]]},{"id":"68d67bcb.62e0a4","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":807,"wires":[["828005e3.3cd768"]]},{"id":"828005e3.3cd768","type":"template","z":"a9caf749.eb5048","name":"Single Model","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n\t\t\"type\": \"model\",\n\t\t\"name\": \"Boer\",\n\t\t\"abbr\": \"boer\",\n\t\t\"href\": \"\",\n\t\t\"version\": \"1.0\",\n\t\t\"validated\": {\n\t\t\t\"validated\": true,\n\t\t\t\"references\": [{\n\t\t\t\t\"href\": \"http://dx.doi.org/10.1016/j.agrformet.2015.01.002\",\n\t\t\t\t\"authors\": \"Víctor Resco de Dios, Aaron W. Fellows, Rachael H. Nolan, Matthias M. Boer, Ross A.Bradstock, Francisco Domingo, Michael L.Goulden\",\n\t\t\t\t\"date\": \"5 January 2015\"\n\t\t\t}]\n\t\t},\n\t\t\"description\": {\n\t\t\t\"author\": \"\",\n\t\t\t\"date\": \"\",\n\t\t\t\"abstract\": \"The moisture content of vegetation and litter (fuel moisture) is an important determinant of fire risk, and predictions of dead fine fuel moisture content(fuel with a diameter < 25.4 mm) are particularly important.A variety of indices, as well as empirical and mechanistic models, have been proposed to predict fuel moisture, but these approaches have seldom been validated across temporally extensive datasets, or widely contrasting vegetation types.Here, we describe a semi - mechanistic model, based on the exponential decline of fuel moisture content with atmospheric vapor pressure deficit, that predicts daily minimum fuel moisture content.We calibrated the model at one site in New South Wales, Australia, and validated it at three contrasting ecosystem types in California, USA, where 10 - h fuel moisture content was continuously measured every 30 min over a year.We found that existing drought indices did not accurately predict fuel moisture, and that empirical and equilibrium models provided biased estimates. The mean absolute error(MAE) of the fuel moisture content predicted by our model across sites and years was 3.7%, which was substantially lower than for other, commonly used models.Our model’ s MAE dropped to 2.9 % when fuel moisture was below 20 % , and to 1.8 % when fuel moisture was below 10 % . Our model’ s MAE was comparable to instrumental MAE(3.1– 2.5 % ), indicating that further improvement may be limited by measurement error.The simplicity, accuracy and precision of our model makes it suitable for a range of applications, such as operational fire management and the prediction of fire risk in vegetation models, without the need for site - specific calibrations.\",\n\t\t\t\"range\": {},\n\t\t\t\"fuel\": {},\n\t\t\t\"metric\": \"\",\n\t\t\t\"index\": \"\",\n\t\t\t\"resolutions\": {\n\t\t\t\t\"minimum\": {\n\t\t\t\t\t\"spatial\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"unit\": \"\"\n\t\t\t\t\t},\n\t\t\t\t\t\"temporal\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"unit\": \"\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"optimum\": {\n\t\t\t\t\t\"spatial\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"unit\": \"\"\n\t\t\t\t\t},\n\t\t\t\t\t\"temporal\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"unit\": \"\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"maximum\": {\n\t\t\t\t\t\"spatial\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"unit\": \"\"\n\t\t\t\t\t},\n\t\t\t\t\t\"temporal\": {\n\t\t\t\t\t\t\"value\": \"\",\n\t\t\t\t\t\t\"unit\": \"\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"keywords\": {\n\t\t\t\t\"strengths\": [\"Dead fine fuel moisture content\",\n\t\t\t\t\t\"Model development\",\n\t\t\t\t\t\"Micrometeorology\",\n\t\t\t\t\t\"Vapor pressure deficit\",\n\t\t\t\t\t\"Temperate woodlands\",\n\t\t\t\t\t\"Mediterranean ecosystems\"\n\t\t\t\t],\n\t\t\t\t\"weaknesses\": []\n\t\t\t},\n\t\t\t\"cavaets\": \"\"\n\t\t}\n}","output":"json","x":310,"y":810,"wires":[["1722bc97.40aaa3"]]},{"id":"2aaf52da.0ca7ae","type":"debug","z":"a9caf749.eb5048","name":"","active":false,"console":"false","complete":"false","x":1121,"y":850,"wires":[]},{"id":"f13a5619.d820e8","type":"mongodb2 in","z":"a9caf749.eb5048","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"models","operation":"","x":654,"y":361,"wires":[["ccd4554e.fc87a8"]]},{"id":"65f5aa20.d97954","type":"function","z":"a9caf749.eb5048","name":"","func":"msg.operation = \"aggregate.toArray\";\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":290,"wires":[["f13a5619.d820e8"]]},{"id":"9a1bb438.b1bcf8","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":324,"wires":[["65f5aa20.d97954"]]},{"id":"54cf7817.b810a8","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":1275,"y":62,"wires":[]},{"id":"1306e523.f89d1b","type":"http in","z":"a9caf749.eb5048","name":"","url":"/windchange","method":"get","upload":false,"swaggerDoc":"","x":715,"y":61,"wires":[["e40a5a1c.23e518"]]},{"id":"e40a5a1c.23e518","type":"dropbox","z":"a9caf749.eb5048","dropbox":"17e2e8ac.896147","filename":"windchange.kmz","name":"","x":1001,"y":64,"wires":[["54cf7817.b810a8"]]},{"id":"8f091de2.628ed","type":"mongodb2 in","z":"a9caf749.eb5048","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"datasources","operation":"insertOne","x":811,"y":905,"wires":[["2aaf52da.0ca7ae"]]},{"id":"65af3eb8.bcb7d","type":"template","z":"a9caf749.eb5048","name":"New Datasource","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"last_updated\":\"{{msg.timestamp}}\",\n    \"name\":\"MODIS\",\n    \"provider_org\":\"nasa.gov\",\n    \"frequency\": {\n        \"value\":\"6\",\n        \"units\":\"hours\"\n    },\n    \"provides\":[]\n}","output":"json","x":345,"y":901,"wires":[["8f091de2.628ed"]]},{"id":"263c57fb.7421f8","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":895,"wires":[["65af3eb8.bcb7d"]]},{"id":"cf43a287.67709","type":"function","z":"a9caf749.eb5048","name":"","func":"msg.operation = \"find.toArray\";\nmsg.payload = {\"models\": msg.req.query.name};\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":547,"wires":[["23e4b18c.dd151e"]]},{"id":"3fe74805.d9caa8","type":"http in","z":"a9caf749.eb5048","name":"","url":"/model/datasources","method":"get","upload":false,"swaggerDoc":"","x":153,"y":512,"wires":[["cf43a287.67709"]]},{"id":"70083c33.097f94","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"{\"models\":\"Boer\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":140,"y":587,"wires":[["cf43a287.67709"]]},{"id":"1e66111f.b9139f","type":"http response","z":"a9caf749.eb5048","name":"","statusCode":"","headers":{},"x":1390,"y":505,"wires":[]},{"id":"9f34a62c.c4a978","type":"debug","z":"a9caf749.eb5048","name":"","active":true,"console":"false","complete":"false","x":1393,"y":444,"wires":[]},{"id":"83e9c1f8.a234f","type":"json","z":"a9caf749.eb5048","name":"","pretty":true,"x":1209,"y":474,"wires":[["1e66111f.b9139f","9f34a62c.c4a978"]]},{"id":"23e4b18c.dd151e","type":"mongodb2 in","z":"a9caf749.eb5048","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"datasources","operation":"find.toArray","x":746,"y":560,"wires":[["83e9c1f8.a234f"]]},{"id":"a9e18e12.0784c","type":"http in","z":"a9caf749.eb5048","name":"","url":"/model","method":"get","upload":false,"swaggerDoc":"","x":122,"y":384,"wires":[["7a509ad9.f84b04"]]},{"id":"7a509ad9.f84b04","type":"function","z":"a9caf749.eb5048","name":"","func":"msg.operation = \"findOne\";\nmsg.payload = {\"name\": msg.req.query.name};\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":380,"wires":[["f13a5619.d820e8"]]},{"id":"23c1e8db.75ae48","type":"inject","z":"a9caf749.eb5048","name":"","topic":"","payload":"{\"name\":\"Boer\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":143,"y":437,"wires":[["7a509ad9.f84b04"]]},{"id":"8115ab46.1f48c8","type":"inject","z":"3fc11891.a48788","name":"Daily","topic":"SILO","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":114,"y":70,"wires":[[]]},{"id":"bf7a1735.b96b58","type":"function","z":"3fc11891.a48788","name":"Seqential API call","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar today = new Date();\nyesterday = new Date(today);\nyesterday.setDate(today.getDate() - 1);\n\n\n/* Australia-wide system...\n * Y is the latitude of the point of interest\n * (between -44° and -10°, in increments of 0.05°),\n *\n * and X is the longitude of the point of interest\n * (between 112° and 154°, in increments of 0.05°);\n *\n */\n \n \n/*\n * Victoria only...\n * bounds = [[139, -41],[151, -33]];\n */\nfor(py=-41;py<=-40;py+0.05) {\n    for(px=139;px<=140;px+0.05) {\n        \n        var API = \"https://www.longpaddock.qld.gov.au/cgi-bin/silo/DataDrillDataset.php\";\n        var qs = API+\"?format=Alldata\";\n        \n        qs += \"&lat=\"+py;\n        qs += \"&lon=\"+px;\n        qs += \"&start=\" + yesterday.yyyymmdd();\n        qs += \"&finish=\" + today.yyyymmdd();\n        qs += \"&username=UNIMELBRAWLINS\";\n        qs += \"&password=ANTHONY3363\";\n\n        var msgn = {}\n        msgn.payload = qs;\n        \n        node.send(msgn);\n    }\n}\n\nreturn;","outputs":1,"noerr":0,"x":335,"y":77,"wires":[["d0e5afc4.8fe9c"]]},{"id":"c04e609c.2743b","type":"http request","z":"3fc11891.a48788","name":"","method":"GET","ret":"txt","url":"{{{payload}}}","tls":"","x":600,"y":236,"wires":[["b48cd568.626b38"]]},{"id":"16f20352.ea793d","type":"inject","z":"3fc11891.a48788","name":"Single Test","topic":"","payload":"https://www.longpaddock.qld.gov.au/cgi-bin/silo/DataDrillDataset.php?format=Alldata&lat=-41&lon=139&start=20170831&finish=20170901&username=UNIMELBRAWLINS&password=ANTHONY3363","payloadType":"str","repeat":"","crontab":"","once":false,"x":328,"y":209,"wires":[["c04e609c.2743b"]]},{"id":"71f8a6bf.33ff58","type":"debug","z":"3fc11891.a48788","name":"","active":true,"console":"false","complete":"false","x":990,"y":92,"wires":[]},{"id":"b48cd568.626b38","type":"switch","z":"3fc11891.a48788","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Dear SILO","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":762,"y":237,"wires":[["71f8a6bf.33ff58","87bc2fa.fe81bd"],["ba0d33f3.6c086","30a2ca93.d963c6","58379.f87d2c87"]]},{"id":"e3b36c1e.5c47e","type":"mongodb2 in","z":"3fc11891.a48788","service":"_ext_","configNode":"671e12d5.6bd4fc","name":"","collection":"weather","operation":"insertOne","x":808,"y":418,"wires":[["30a2ca93.d963c6"]]},{"id":"d0e5afc4.8fe9c","type":"delay","z":"3fc11891.a48788","name":"","pauseType":"random","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"2","randomLast":"4","randomUnits":"seconds","drop":false,"x":498,"y":153,"wires":[["c04e609c.2743b"]]},{"id":"30a2ca93.d963c6","type":"debug","z":"3fc11891.a48788","name":"","active":true,"console":"false","complete":"false","x":1139,"y":316,"wires":[]},{"id":"e51a91f3.14078","type":"inject","z":"3fc11891.a48788","name":"Single Test","topic":"","payload":"https://www.longpaddock.qld.gov.au/cgi-bin/silo/DataDrillDataset.php?format=Alldata&lat=-35&lon=139&start=20170831&finish=20170901&username=UNIMELBRAWLINS&password=ANTHONY3363","payloadType":"str","repeat":"","crontab":"","once":false,"x":329,"y":273,"wires":[["c04e609c.2743b"]]},{"id":"ba0d33f3.6c086","type":"file","z":"3fc11891.a48788","name":"","filename":"./weather-silo.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1065,"y":240,"wires":[]},{"id":"87bc2fa.fe81bd","type":"file","z":"3fc11891.a48788","name":"","filename":"./weather-silo-error.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1063,"y":160,"wires":[]},{"id":"58379.f87d2c87","type":"template","z":"3fc11891.a48788","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"unformatted\": \"{{payload}}\"}","output":"json","x":751,"y":324,"wires":[["e3b36c1e.5c47e"]]}]